[2020-03-03 02:31] DrewDennison opened #1 "Don't print output twice"
![image](https://user-images.githubusercontent.com/1011067/75737225-10909180-5cb4-11ea-9196-de3941bd9da5.png)

[2020-05-15 12:20] underyx commented on #1
fixed, I guess, with the new action 👯

[2020-05-15 12:20] #1 closed, assigned to DrewDennison

[2020-07-13 15:34] nbrahms opened #21 "Add ability to configure file globs"
User should be able to configure file globs to define run locations when using action without the SaaS backend.

Possible solutions:
- `--glob` à la `ripgrep`
- directly pass `--include` and `--exclude` to semgrep

[2020-07-14 15:13] underyx opened #26 "Scan for baseline issues only in paths with current issues"
This would improve total run time by probably around 40% in the case when you have 1 out of 5 changed files introducing new issues.

A continuation of https://github.com/returntocorp/semgrep-action/pull/25

[2020-07-14 15:48] #26 closed, assigned to nobody

[2020-07-14 18:34] nbrahms opened #27 "Ambiguous behavior when both `config` and backend set up"
Right now, it's not clear whether the action will use the hard-coded config or use the backend-configured config.

Suggestion is to fail hard with a descriptive error message in this case.

Discovered via dog-fooding on returntocorp/semgrep.

[2020-07-16 08:57] underyx opened #30 "Publish semgrep-agent to pypi"
We can rework it to use poetry for this.

[2020-07-16 17:13] nbrahms opened #31 "Display CI results with short static rule ids"
E.g. invoke semgrep from action with --no-rewrite-rule-ids

-[] Results in CI should be named with something short, which probably is just the rule ID (without the registry leader)
-[] Labels of findings in CI should not change with location of rule in a pack or directory

Suggested cheap solution:
Action should call `--no-rewrite-rule-ids` on the semgrep binary

[2020-07-16 17:26] ievans commented on #31
@nbrahms how will we empower the user to change the config or the rule from the CI output with just the short check ID? What if rule IDs alias?

[2020-07-16 19:38] dlukeomalley commented on #31
@underyx and I have discussed this quite a bit. Our thought was that rule-ids should be unique within a rule pack or be prefixed with the rule pack they've been imported from: `dlukeomalley.python:no-exec`. Not sure if this is the spirit of this ticket, but in general I'd like to move towards shorter more friendly rule-ids and rely on our output formatting to highlight their category, language, et

[2020-07-16 19:57] nbrahms commented on #31
@ievans I think the line of thinking that @DrewDennison and I had was to just leave this as an edge case for now. E.g. you just get a warning that you're overwriting a rule, for instance.

[2020-07-22 14:05] dlukeomalley commented on #31
Capturing some of the Slack discussion about these feature and adding notes:

[2020-07-22 14:21] underyx commented on #31
My preferred UI for this in CI would be:

[code]

And when there's lack of space
[code]

[2020-07-22 16:59] underyx commented on #27
There's no easy way to do this, cause one might set up a semgrep-app URL just to get Slack notifications. And even if we check the rules that are configured for the repo, we cannot tell if that YAML was specifically set for the repo, or it's the organization default.

Should we make semgrep-app changes to get this in? I feel like that would be too much effort.

[2020-08-11 14:32] underyx opened #34 "Make semgrep-agent fail CI only on blocking issues"
semgrep.dev will soon support different actions per rule, so

Assume that `Finding` instances can have a `"dev.semgrep.actions"` key in their `finding.metadata` dict in the `Results` object that semgrep invocations return here: https://github.com/returntocorp/semgrep-action/blob/1e1c2f06307dcdda29c6f8889c2ffb5abb88eb35/src/semgrep_agent/main.py#L120

We should make the agent follow the actions rec

[2020-08-12 22:29] brendongo opened #35 "Agent takes longer than running semgrep directly"
Looks like semgrep-agent is passing files to semgrep using --includes which causes semgrep to traverse the directory tree to see if any files match the include pattern.

Fix will be to pass the files directly to semgrep as a target argument.

[2020-08-12 22:32] underyx commented on #35
I remember implementing it like that at first, and it didn't work 😞

I think the issue was that when targeting specific files, semgrep would just assume that it's the correct language for the given rules, and it would return tons of parse errors (since if an HTML file was changed, it'd get directly targeted, while the repo might configured for `r/python`). I used directory targeting and post-filte

[2020-08-13 22:00] brendongo commented on #35
Once https://github.com/returntocorp/semgrep/pull/1507 is merged and released
can update https://github.com/returntocorp/semgrep-action/blob/develop/src/semgrep_agent/semgrep.py#L138 to send targets instead of includes. (Also need to update to use this cli flag)

[2020-08-14 15:20] nbrahms opened #38 "Ease bumping semgrep version"
How to change the semgrep version is prone to error for maintenance devs.

Proposal:
- Write a script to bump the version
- Clearly document in the README + link to this in https://returntocorp.quip.com/zrklAwLqfrm7/Using-the-Semgrep-Repo#DfcACAoWAYY

[2020-08-14 15:29] underyx commented on #38
We could use this instead of a custom script https://github.com/c4urself/bump2version/

[2020-08-18 18:17] brendongo commented on #34
Are we hiding the output of a finding if it is set as notify?

[2020-08-18 19:49] underyx commented on #34
Yep!

[2020-08-19 10:15] underyx commented on #38
Oh, I thought this was for the semgrep repo where stuff like pre-commit hook docs and so on also need to be updated. bump2version is definitely overkill for this repo.

[2020-08-20 10:57] #34 closed, assigned to brendongo

[2020-08-20 10:57] #35 closed, assigned to brendongo

[2020-08-23 00:50] parsiya opened #42 "Add the ability to configure Semgrep core via the agent"
Currently, the agent can only accept the config file and prints out the results to stdout (absent other switches). There's no way to get a json output to process the results using the command line.

It would be nice to be able to configure the Semgrep core that is running inside the agent. Mainly, the ability to get the JSON output. I think the easiest way to do so is by accepting Semgrep code swi

[2020-08-24 16:14] dlukeomalley commented on #42
Thanks for filing @parsiya!

Adding @underyx for input and his thoughts.

[2020-09-04 16:24] #42 closed, assigned to brendongo

[2020-09-04 20:55] #30 closed, assigned to brendongo

[2020-09-08 22:53] Isaac0616 opened #51 "Dependencies of semgrep-agent"
Maybe should add the `attrs` package to https://github.com/returntocorp/semgrep-action/blob/develop/pyproject.toml#L11 since `semgrep-agent` uses it directly?

[2020-09-09 23:17] #51 closed, assigned to nobody

[2020-09-11 11:41] underyx opened #56 "Diff-aware doesn't report new findings if the new finding has the same (rule_id, path, line_of_code) as the one before"
Assume you have this diff:

[code]

The addition of a new eval security issue should be warned about on a PR. Right now we use a `set` to figure out what findings are new, which would make the agent unaware about the new issue. If we used a `Counter`, we could warn that there are more instances of the same thing now.

[2020-09-11 22:15] DrewDennison opened #57 "Improve “sapp is configured so we should’ve gotten a scan_id” error message"

[2020-09-11 22:33] Isaac0616 commented on #56
Thinking it a bit more.
I think there are cases that even the `Counter` is not ideal.
For example:
[code]
is bad but won't be flagged.
To solve it, I guess we have to check the actual changed lines between commits?

[2020-09-11 23:55] parsiya opened #58 "One finding is detected multiple times in the value of `--json`"
I am running the semgrep_agent in a gitlab runner with the new `--json` option. Thanks a lot for the option. It's detecting an `eval` usage three times.

Sample file is modified from OWASP Juiceshop and contains and `eval`. This is detected. See the first comment after this for the file (I did not put it here to make the issue more readable).

[2020-09-11 23:55] parsiya commented on #58
[code]

[2020-09-11 23:58] parsiya commented on #58
Never mind, my own fault. I had an older version of the same file in a sub directory in the repo and the other findings were duplicates. Closing this.

[2020-09-11 23:58] #58 closed, assigned to nobody

[2020-09-17 23:31] nbrahms commented on #56
I think we'd likely solve the 90% case by just incorporating the finding index on the file into the syntactic context.

Certainly to your point @Isaac0616 , we'd like to catch your case in the future, but we also want to avoid falsely flagging on simple refactors that touch unrelated code.

One idea we've bandied about in the past is to treat the previous and next lines as part of the syntactic co

[2020-09-21 17:34] tkisason opened #61 "Add support for adding a number of yml rules from the .semgrep folder"
The current semgrep-action can rely on either
1. The online rule registry
2. a `.semgrep.yml` file with a collection of rules, which can be unwieldily to manage for a large number of rules.

The "normal" semgrep, supports a `.semgrep` folder, that can contain a number of rules in the  `.semgrep/**/*.yml` form, where it is easy to mantain a number of semgrep rules in a single folder for a project.

[2020-09-24 16:50] #56 closed, assigned to nbrahms

[2020-09-24 21:28] nbrahms opened #66 "Remove privacy-sensitive findings fields from backend post"
We should omit fields that are both:
- sensitive
- not necessary for backend operation

Specifically, the `syntactic_context` field falls in this category.

[2020-09-24 21:54] nbrahms commented on #57
@DrewDennison What does improvement mean for you?

[2020-09-24 21:58] DrewDennison commented on #57
If the semgrep.dev API returns 500 then the semgrep agent throws this error. I would expect a friendly error message like “we’re having problems connecting to the API server” or event “status code: 500 /api/agent/...”

[2020-09-24 22:02] nbrahms commented on #57
great

[2020-09-24 22:15] nbrahms commented on #57
Like this?:

[code]

[2020-09-24 22:21] #66 closed, assigned to nbrahms

[2020-09-25 17:00] #57 closed, assigned to DrewDennison, nbrahms

[2020-09-28 17:40] #61 closed, assigned to nobody

[2020-09-28 19:08] tkisason commented on #61
Thank you!

[2020-09-28 21:27] tkisason opened #72 "Should .semgrep folders be scanned by default?"
I tested out the .semgrep folder rule passing option for the action and it works great. But if you directly copy the rules from semgrep-rules with the accompanying tests, semgrep-action will also scan the .semgrep folder since the default .semgrepignore folder doesn't have this exception. Should this be the default behaviour?

Anyways, if possible, i vote that by default the .semgrep folder should

[2020-09-29 15:39] dlukeomalley commented on #72
Thanks for filing @tkisason! @underyx, any thoughts to add?

[2020-09-29 17:00] underyx commented on #72
Yeah @tkisason, this makes perfect sense to me! Thanks a lot for the pull request, will merge and release now.

[2020-09-29 17:12] #72 closed, assigned to underyx

[2020-09-29 17:13] underyx commented on #72
All done, thanks again!

[2020-09-29 19:43] nbrahms opened #73 "Action reports issues on trunk branch"
Action appears to be reporting issues that occur in PR _as well as_ any new issues on the merge target (e.g. `master`).

It should only report issues in the PR itself.

Suggestion:
Calculate `--diff-against` using `git merge-base` of PR commit and target branch.

[2020-09-29 21:32] tkisason opened #74 "Consider returning information about rules that are being run."
Currently semgrep-action will return the number of files that are lined up for scanning, and the number of ignored files, but won't print out the number of rules that are loaded or used (and what is being used to load those rules, registry link, .semgrep or .semgrep.yml):

[code]

Can we consider if we want to print out the number of rules used in scanning and where the rules have been fetched fro

[2020-09-29 23:35] #73 closed, assigned to nobody

[2020-09-30 18:30] sabrinabrogren opened #77 "Ensure no code content is collected"

[2020-10-03 19:55] underyx opened #79 "Expose a verbose flag for users"
The hidden `SEMGREP_AGENT_DEBUG` env variable is not exposed to users, we should make this a comfortable public flag instead.

@msorens recommended making it toggleable on the semgrep app's web UI.

## Add to logs

- [ ] `semgrep` should get the `--verbose` flag too and we should pipe its output through

[2020-10-03 20:01] underyx opened #80 "Expose name (and perhaps rules) of policy being used"
When connecting to semgrep.dev, we should log info about the policy being executed.

[2020-10-03 20:03] underyx opened #81 "Expose more information about ignored paths"
We could list just the paths that actually have hits. Maybe hide this behind a verbose flag though, not sure how noisy it'd get.

[2020-10-07 20:15] sabrinabrogren commented on #77
Checked both by looking at the database (see @underyx's comments [here](https://github.com/returntocorp/semgrep-app/issues/502)) and the semgrep-action code to verify that code content is not collected. It is [explicitly omitted](https://github.com/returntocorp/semgrep-action/blob/develop/src/semgrep_agent/constants.py).

[2020-10-07 20:15] #77 closed, assigned to sabrinabrogren

[2020-10-07 22:58] sfc-gh-ddong opened #84 "semgrep failed"
[code]

[2020-10-07 23:37] brendongo commented on #84
Hey @sfc-gh-ddong. Thanks for filling an issue. I think I know what's wrong. Fix incoming.

[2020-10-08 00:30] brendongo commented on #84
@sfc-gh-ddong should be fixed now if you rerun semgrep action

[2020-10-08 00:30] #84 closed, assigned to brendongo

[2020-10-08 00:30] brendongo commented on #84
'[];54

[2020-10-09 15:38] underyx opened #86 "Make it possible to unignore .gitignore'd files"
Even if we override `:include .gitignore` in .semgrepignore, `semgrep` itself ignores those files by default. We could run it with `semgrep --no-git-ignore` to fix this.

[2020-10-15 16:54] colleend opened #90 "GithubAction Script for Release"
We should create a script that automatically pulls the SHA256 hash from Docker hub and changes the necessary lines in the Dockerfile.

[2020-10-30 13:01] brampat opened #96 "Add CI integration for Jenkins"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
Be able to use Semgrep in Jenkins CI, with something like a plugin.

**Describe alternatives you've considered**
Call Semgrep from CLI in Jenkins. This would need the Jenkins server to have Semgrep installed, which in some setups is a lot harder to configure. For instan

[2020-10-31 02:54] dlukeomalley commented on #96
Thank you for filing this ticket @brampat. Moving it over to the semgrep-action repository for now, which should be updated soon to more generically capture Semgrep's CI integrations.

@underyx Any questions for @brampat as we think about how to tackle this and/or if `semgrep_agent` will work out of the box here?

[2020-11-02 06:10] omerlh opened #97 "Upload SARIF log file"
Semgrep already supporting SARIF output, it would be nice if the action could just upload the result so it will be shown under the security tab on GitHub

[2020-11-02 16:08] dlukeomalley commented on #97
@omerlh Great to see you posting here! This is possible as of today, checkout the Semgrep GitHub Actions documentation for details: https://semgrep.dev/docs/integrations/#continuous-integration-ci

Let me know if you have any other questions. Closing this ticket for now and happy to reopen as needed.

[2020-11-02 16:08] #97 closed, assigned to nobody

[2020-11-02 17:29] omerlh commented on #97
Nice, it wasn't in the repo readme - this is why I missed it.

[2020-11-02 18:05] dlukeomalley opened #98 "Update README to include latest CI instructions"
Documentation has moved to semgrep.dev/docs and now includes details on using the GitHub Security Dashboard, but neither is discussed in the README. This ticket is to update that per #97

[2020-11-02 18:06] dlukeomalley commented on #97
Ah, good catch. New ticket for that here: https://github.com/returntocorp/semgrep-action/issues/98

I'll make sure it happens this week 👍

[2020-11-09 16:02] underyx opened #103 "Investigate directly uploading SARIF results to github api"
Other than the extra workflow step that we currently use, https://docs.github.com/en/free-pro-team@latest/rest/reference/code-scanning#upload-a-sarif-file exists which would allow for direct upload, so users would only have to pass their github token to get the security tab working. And they might already have passed that to get slack notifications working anyway.

[2020-11-09 17:32] nbrahms opened #104 "Display policy name when running from managed policy"
For improved user serviceability

[2020-11-12 16:52] ievans opened #106 "Docker image is unnecessarily large"
Our docker image is 388mb, but semgrep itself is <100MB and semgrep-agent is 100mb. We are adding a few dependnecies but we shouldn't be so large. This has a user impact because CI systems pull semgrep_agent so the smaller we are, the faster we run.

quick ideas:
- [ ] probably we don't need to use virtualenvs in the docker image, can just install as system deps?
- [ ] we waste 139MB in the line `

[2020-11-12 17:19] underyx commented on #106
But we need `semgrep-core` for semgrep to work at runtime. I don't think we lose any additional space during installation. We cannot directly install from pip cause the pip wheels don't (cannot) support Alpine linux.

[2020-11-12 18:43] underyx commented on #106
We had dependency version conflicts between bento & semgrep a while ago, which is why we started doing this. I kinda like that semgrep-agent and semgrep have independent dependencies, one less thing to worry about when developing.

[2020-11-12 19:23] ievans commented on #106
I chatted with @underyx and clarified some things:

[2020-11-16 21:57] chmccreery opened #107 "Strip tmp. from internal representation of findings in semgrep_agent"

[2020-11-16 22:18] sabrinabrogren opened #108 "clarify "not logged in" error message"
Original "bug" report below, but check out the discussion for more relevant details to this ticket
#
Sorry for the obscure title, I can't be much more descriptive because I'm not sure what's going on.

These were run within an hour of each other:
https://github.com/returntocorp/dry-runs/pull/7/checks
https://github.com/returntocorp/dry-runs/pull/8/checks

For some reason, it appears that when some

[2020-11-16 22:23] underyx commented on #108
@sabihb PR #8 there has a source branch from a different, forked repo. GitHub blocks access to secrets for code that comes from external sources, i.e. forks. Their line of thinking is that @AzureUmbra's repository could have malicious code that prints out the SEMGREP_TOKEN to the CI logs, and thereby @AzureUmbra could steal r2c's secret token.

[2020-11-16 22:26] sabrinabrogren commented on #108
Oh interesting, that makes sense! Then this is not an issue with semgrep-action at all. I wonder why it's making the source branch forked rather than the original repo.

[2020-11-16 23:05] dlukeomalley commented on #108
@sabihb The bug here may be the error message then, which doesn't explain the missing token and/or offer clear next steps. I'd vote for keeping this open and renaming / restructuring, what do you think?

[2020-11-16 23:24] underyx commented on #108
Yes, perhaps `not logged in` & `logged in as deployment #1` should be replaced with something that's… less of a lie. I chose this wording just cause I thought this'd be the most clear to someone who has no idea what semgrep.dev is.

[2020-11-17 17:09] sabrinabrogren commented on #108
Maybe an error message that also suggests a fix might be helpful? Something like `not logged in - check SEMGREP-TOKEN configuration for this repo or organization`

[2020-11-17 18:58] #107 closed, assigned to nobody

[2020-11-18 18:22] msorens opened #112 "Provide more release tags for CI consumption stability"
I mentioned this some time ago as a casual comment in slack, but surfacing here just to give a bit more exposure.

Since the v1 tag on semgrep-agent is continually bumped with new releases, that means that consumers of the v1 docker image are always at risk of having their CI build break due to a new release. My release engineering folks rather frown on that, which means I cannot make use of semgr

[2020-11-18 18:37] underyx commented on #112
Yeah, we'll need to address this very soon! Thanks for creating an issue for the discussion. We're still shipping backwards incompatible API changes to Semgrep Community sometimes and might need to hold out for a bit longer without worrying about deprecation policies, personally I'd guess a month or so.

In the meantime you can probably specify pin the image yourself by getting the latest SHA here

[2020-11-18 20:25] nbrahms opened #113 "semgrep-action silently succeeds if semgrep fails due to an internal error"
I have a repo and set of rules.

Running semgrep-action on the repo, the action succeeds with "no errors":

[code]

However, running semgrep directly on the code fails:
[code]

The consequence of this is that security issues are silently making it through my CI pipeline (see https://github.com/returntocorp/semgrep-app/pull/1123#discussion_r526341734) (!)

As a user, I expect that, if Semgrep fails

[2020-11-18 20:45] #113 closed, assigned to nobody

[2020-11-19 04:14] msorens commented on #112
Thanks for the details, @underyx . Based on your advice, then, I will hold off using that for now.

[2020-11-26 15:22] Sjord opened #123 "Baseline-ref argument ignored in CI environment"
The `--baseline-ref` is only used in [GitMeta](https://github.com/returntocorp/semgrep-action/blob/a0fd91323cdef3a67aa4eaae30db7cff5e68def8/src/semgrep_agent/meta.py#L60), and not in [GithubMeta](https://github.com/returntocorp/semgrep-action/blob/a0fd91323cdef3a67aa4eaae30db7cff5e68def8/src/semgrep_agent/meta.py#L148) or [GitlabMeta](https://github.com/returntocorp/semgrep-action/blob/a0fd91323cd

[2020-11-27 11:49] underyx commented on #123
That's a very good point. Thanks for investigating the code to give us a super clear issue! We'll schedule this once the whole team's back after Thanksgiving :)

[2020-11-30 21:10] underyx opened #124 "Make PRIVACY.md file/contents more discoverable"

[2020-12-03 14:03] underyx opened #127 "Ignore directories with .semgrepignore records even without the trailing slash"
Add `tests` to your .semgrepignore will ignore only files named `tests`. To ignore `module/tests/test.py`, you need to add `tests/` to the .semgrepignore instead.

This is unexpected, and not consistent with .gitignore, where writing just `tests` will ignore `module/tests/test.py` already.

[2020-12-05 00:26] jack-om opened #129 ""no valid configuration file found (0 configs were invalid)""
Greetings! Testing out the platform, and enjoying things so far. Got this error in my Github Actions pipeline, and followed your request to post it for analysis. Maybe related to #112?

[code]

[2020-12-05 00:29] dlukeomalley commented on #129
@jack-om Thank you for filing this issue. Tagging @brendongo who is working on Semgrep Action errors and improvements.

[2020-12-05 01:28] brendongo commented on #129
Hi @jack-om are you running the semgrep action in a way different from the default instructions?

`no valid configuration file found (0 configs were invalid)` makes me think something weird is going on with file permissions maybe?

[2020-12-05 01:37] brendongo commented on #129
If you can rerun with the environment variable `SEMGREP_AGENT_DEBUG`set to 1 the debug output might help us get to the bottom of this.

[2020-12-05 02:08] chmccreery opened #130 "Semgrep action indicates how many rules ran on a scan"

[2020-12-07 22:15] underyx opened #131 "Fix PR merge result being compared to base branch in GHA"
the issue is with a surprising behavior of github: let’s assume you have this git history:

[code]

when github starts this job, it actually merges commit B into 5! that’s the codebase semgrep sees and our diff-aware scanning will compare “B merged into 5” against 1 to find new issues

so while you expect that only A and B’s changes will be scanned, right now it’s actually A, B, and 2 through 5 al

[2020-12-07 22:55] jack-om commented on #129
Hi @brendongo, the `semgrep.yml` action is the default from the instructions. Here are the contents:

**.github/workflows/semgrep.yml**

[code]

**Current output**

Here are the results, after adding `SEMGREP_AGENT_DEBUG: 1` to the action, which didn't look too different from the output without the debug flag. The command shows `-e SEMGREP_AGENT_DEBUG` being passed, so I'm not sure why output isn'

[2020-12-08 01:54] brendongo commented on #129
@jack-om any chance you can join the community slack: https://r2c.dev/slack I think we have an idea of what's happening

[2020-12-08 02:49] nbrahms commented on #129
Confirmed that this happens if all items in a policy have both "notify" and "block" disabled. Fix should be to prevent or warn on this type of configuration.

[2020-12-08 02:50] brendongo commented on #129
Going to add a check with https://github.com/returntocorp/semgrep-action/pull/133 that has a helpful message while we don't have the guarantee that rules from server will be non-empty.

[2020-12-08 17:53] nbrahms commented on #131
Fix only worked in some cases, following up this afternoon.

[2020-12-08 23:23] bflad opened #135 "Support Passing --severity Flag to semgrep"
## Description

Upstream `semgrep` in version 0.33.0 recently added a `--severity` flag that allows filtering rules to `WARNING`, etc. It would be fantastic if this project could support the ability to optionally configure that. As an example use case, we would love the ability to add rules within our codebase such as:

- Create rules with `WARNING` severity
- Incrementally fix existing reports ov

[2020-12-09 01:06] dlukeomalley commented on #135
@bflad This is a timely message. I'm in the midst of writing a proposal for better `info`, `warn`, and `error` result behavior. May I follow-up next week to get your feedback on what I'm working on?

[2020-12-09 03:54] bflad commented on #135
@dlukeomalley sounds great, thank you!

[2020-12-09 17:53] #131 closed, assigned to nbrahms

[2020-12-11 17:44] #123 closed, assigned to chmccreery

[2020-12-15 20:02] chmccreery commented on #104
@nbrahms where do you want policy name displayed? This already happens in semgrep-action as of about 2-3 weeks ago (but if users are not seeing it, we should dig in deeper)

[2020-12-17 23:24] #130 closed, assigned to nobody

[2020-12-19 00:39] msorens opened #141 "semgrep-agent from the command-line connects to incorrect dashboard project"
**Describe the bug**

When I attempt to run semgrep-agent on the command-line in the same fashion that I run it in CI, it is not connecting to the right project on the web UI dashboard (and therefore not using the correct policy).
In the figure, my two real projects are highlighted: chef/automate (which exists at `https://github.com/chef/automate`) and chef/chef-cloud (`https://github.com/chef/che

[2020-12-21 17:58] mschwager commented on #141
Hi @msorens,

It looks like this functionality went in in https://github.com/returntocorp/semgrep-action/pull/120.

I suspect a few things could be going on here, but I'll need a bit more information to confirm:

- Are you running the latest version of `returntocorp/semgrep-action`? It looks like the `v1` tag is updated on every commit: https://github.com/returntocorp/semgrep-action/tags, but you

[2020-12-22 17:09] msorens commented on #141
Your suspicion was 100% correct -- I had neglected to pass environment variables on the command-line. Once I did that, it connects to the right project and uses the correct policy. Thanks!!

[2020-12-22 18:11] dlukeomalley commented on #141
Thanks all! Transferring this issue to semgrep-action for discoverability in the future.

[2020-12-22 18:12] #141 closed, assigned to nobody

[2020-12-23 21:55] msorens commented on #141
Afterthought: probably should fail the run immediately if `SEMGREP_REPO_NAME` is not provided to give a clear indication of this easy-to-fall-into trap.

[2021-01-03 17:11] dlukeomalley commented on #141
@chmccreery @underyx Any thoughts on Michael's above suggestion?

[2021-01-04 19:55] chmccreery commented on #141
We intentionally do not require this environment variable, to make it possible to run semgrep-action in a very basic setup, without having to configure a bunch of environment variables. I would like to preserve that simplicity for users who only care about the 80% solution, and just want to run their default policy or get their rules from a local yaml file.

We could certainly print out the enviro

[2021-01-05 14:50] underyx opened #144 "Update Dockerfile to work with 0.36"
Seems like we'll need more changes than usual as according to https://github.com/returntocorp/semgrep/issues/2054#issuecomment-754678088 the `PRECOMPILED_LOCATION` var we use no longer exists.

[2021-01-05 15:50] underyx opened #145 "[discussion] Should semgrepdep go in this repo?"
## Background

@ievans made a fork of semgrep-action that can also scan changes of yarn.lock etc. and post about how the dependency security hotspots have changed.

## Reasons for adding this feature here

From a technical standpoint this feature is pretty well separated, so I'm not worried about unclean code. A wider feature set would also mean the same project would be useful for more people. So

[2021-01-05 17:51] mschwager commented on #144
Looks like `PRECOMPILED_LOCATION` has been gone since https://github.com/returntocorp/semgrep/commit/4e97e83426b6097f2a071294a5064975e7a62163, which was included in the `v0.31.0` release. Unless there's a specific reason for avoiding the binaries in the package I believe we simply remove the `PRECOMPILED_LOCATION` variable.

Is there a reason we were pulling the binaries from a separate Docker ima

[2021-01-05 17:52] dlukeomalley commented on #129
@brendongo Is this issue resolved with your pre-2021 work?

[2021-01-05 17:53] underyx commented on #144
The python binaries don't work on alpine.

[2021-01-05 17:54] mschwager commented on #144
Oh I see, it's because we're using Alpine. We could probably make our lives a lot easier by using `python:3.7-slim` instead of `python:3.7-alpine`. Regardless, I wonder how its continued with work without `PRECOMPILED_LOCATION` :man_shrugging:

[2021-01-05 20:34] ievans commented on #145
Another reason to put it here is that we've done a great job building a class that can grab metadata from Github, Gitlab, Jenkins, etc. So there's really only a few LoC for semgrepdep that are different. But it might be better to put all that into some kind of library?

[2021-01-05 21:39] mschwager commented on #144
From @mjambon:

I believe this means we can in fact simplify things by removing the `PRECOMPILED_LOCATION`, `COPY --from=semgrep`, and `FROM ... AS semgrep` from https://github.com/returntocorp/semgrep-action/blob/develop/Dockerfile.

cc @chmccreery who could do this with the `v0.36.0` update, or we could do this separately.

[2021-01-05 23:25] chmccreery commented on #144
@mschwager let's do this separately. Let me know if you want to do it before this release, or if we can do it later this week.

[2021-01-06 15:52] brendongo commented on #144
I think it's continued to work without PRECOMPILED_LOCATION because pipx install semgrep just works as expected comes with the spacegrep and semgrep binaries.

[2021-01-06 20:15] devd opened #148 "github action failure"
got this error; not sure whats happening but sharing as requested in the message
[code]

[2021-01-06 22:04] minusworld commented on #148
Summary from this experience:

[2021-01-06 22:05] minusworld opened #149 "Gracefully handle broken rules"
Options:
- add a configuration option for "Failing Open" and "Failing Closed"
- continue Semgrep run in spite of broken rules and intelligently and clearly report the issue with a given rule

[2021-01-06 22:06] minusworld commented on #148
New issue for gracefully handling broken rules: https://github.com/returntocorp/semgrep-action/issues/149

[2021-01-07 00:12] devd commented on #148
thanks! closing this out since this is now resolved.

[2021-01-07 00:12] #148 closed, assigned to minusworld

[2021-01-07 02:33] nbrahms commented on #149
@minusworld I think this actually needs to be fixed in Semgrep itself, not the action.

The existing ticket for this is https://github.com/returntocorp/semgrep/issues/2152.

[2021-01-10 04:25] msorens opened #152 "latest semgrep-agent never completes its run"
Sometime between Thursday and Saturday, semgrep-agent started exceeding the 20-minute timeout in my CI system (Buildkite). Prior to this, it used to take anywhere from 30 seconds to 2 minutes.

I am using the `returntocorp/semgrep-agent:v1` docker image and the `v1` tag was updated with a new docker image yesterday just prior to my first failing build:
https://hub.docker.com/layers/returntocorp/se

[2021-01-11 17:40] msorens commented on #152
@chmccreery rolled back the latest commit yesterday and the problem went away.
I am holding off re-instating semgrep-agent in my CI pipeline pending your investigation of this issue. (I am presuming you will likely try some fix and then I can try it manually, so it does not impact my CI pipeline.)

[2021-01-12 09:52] #129 closed, assigned to brendongo

[2021-01-12 14:43] mschwager commented on #144
Fixed by https://github.com/returntocorp/semgrep-action/pull/156.

[2021-01-12 14:43] #144 closed, assigned to nobody

[2021-01-12 18:03] mschwager commented on #106
Removing `PRECOMPILED_LOCATION` (https://github.com/returntocorp/semgrep-action/pull/156) took this down to `313MB` for me. Removing reliance on `pipx` brought it down to `291MB`. Should we remove `pipx` and call this done?

[2021-01-12 18:39] underyx opened #158 "Disambiguate action/agent release names"
Confusing things right now:

1. Why is there an 'action' and a separate 'agent'?
1. How do you find the agent's code? How come it's in the action repo?
1. Why is the stable docker image tagged `:v1` instead of `:stable`?
1. What is `agent` even supposed to mean anyway? Why not `semgrep-ci`?
1. What is the release cadence of the image?
1. How do you pin a semgrep-agent version?
1. How do you get th

[2021-01-12 20:29] ievans commented on #106
👍 from me @mschwager!

[2021-01-12 21:53] msorens commented on #158
@underyx Nice idea here!

1. You mentioned how to run agent outside of Docker, but also useful to document how to run it with Docker for more stability and consistency when reporting bugs, for example. As you know, took me some effort to figure out the command to feed to Docker.

2. Not sure if this is in scope here, but might explain how agent is the gateway to the dashboard.

3. Suggest change y

[2021-01-12 22:17] underyx opened #159 "Agent is repeatedly logging incrementing numbers of 'issues found'"
[code]

Shared by @msorens on Slack: https://r2c-community.slack.com/archives/CK86BJ5DW/p1610467285371800

[2021-01-12 22:20] underyx commented on #159
Oh, I think I got it actually. It's cause of the command length limit in the shell. We invoke semgrep multiple times with various paths here: https://github.com/returntocorp/semgrep-action/blob/c485066f74872e6012b60eeb91d7c4cc17d62d50/src/semgrep_agent/semgrep.py#L188

[2021-01-12 22:20] underyx commented on #159
The solution could then be to find a more elegant way of passing the list of paths to scan to semgrep.

[2021-01-12 23:07] underyx commented on #158
All good points! Especially number three :D I've updated the original post.

[2021-01-13 10:50] underyx opened #160 "Update 'issues found' wording"
- 2048 additional findings present in latest commit / 2048 findings exist in the project now
- 1024 findings present in base commit / 1024 findings existed in the project's old version
- 512 findings ignored with a nosemgrep comment

See https://r2c-community.slack.com/archives/CK86BJ5DW/p1610467285371800

[2021-01-14 09:48] brendongo commented on #38
Bumping version is just changing a constant in the Dockerfile now which I think is sufficiently simple.

[2021-01-14 09:48] #38 closed, assigned to underyx

[2021-01-15 15:38] brendongo opened #162 "semgrep-app should never fail to parse output of semgrep as json"
Parsing of semgrep output in semgrep-action is fragile and sometimes breaks if any stray print statement from semgrep-core is output.

Quick v0 solution is to use the -o option for semgrep to output to a file and parse said file. This file is guaranteed to be parsable json without random print statments.

A better solution will be to have a way to call semgrep as a library/API to return json.

[2021-01-15 16:54] colleend opened #163 "Add Test Suite for Regression Testing"
After a high-priority issue with msorens of Chef was filed (https://github.com/returntocorp/semgrep-action/issues/152), follow-up discussions led to msorens stating that he disabled semgrep CI until further updates about this issue.

We were unable to reproduce the issue, but reverted the commit that caused it, which seems to have fixed the problem. However, msorens is unsure about semgrep-actions

[2021-01-19 16:33] nbrahms opened #165 "Semgrep-action runs rules that are neither blocking nor notifying"

[2021-01-19 16:37] underyx commented on #165
words to describe this: collecting, reporting, observing, auditing

[2021-01-19 19:43] nbrahms commented on #152
I root-caused this issue.

`shlex.split(None)` in Python 3.7 causes `shlex` to wait on standard input, thus hanging the process. Reverting the line that added `shlex.split(...)` on an optional command-line argument via #153 thus fixed this problem.

That said, we still need to add integration testing to prevent this form of regression in the future.

[2021-01-19 19:43] #152 closed, assigned to nbrahms, colleend

[2021-01-19 22:49] #163 closed, assigned to nbrahms

[2021-01-21 10:02] #159 closed, assigned to brendongo

[2021-01-21 10:02] #162 closed, assigned to nobody

[2021-01-26 04:54] chmccreery commented on #165
@nbrahms did you already do this or just make the issue for it? I thought I remembered you working on this, but if not I can take it on this week

[2021-01-26 15:26] brendongo opened #174 "semgrep-action running semgrep with exit code >= 2 should be sent to some backend api"
Users should be alerted of these unexpected failures in a noisy way

[2021-01-27 14:19] Sjord opened #177 "How are submodules handled?"
I have a project with several submodules, and I want to scan the submodules using semgrep and get a diff with the baseline ref.

The TargetFileManager [contains some logic to handle submodules](https://github.com/returntocorp/semgrep-action/blob/develop/src/semgrep_agent/targets.py#L173-L186), but then when doing the diff it [explicitly ignores submodules](https://github.com/returntocorp/semgrep-a

[2021-01-27 14:29] underyx commented on #177
The current behavior is to completely ignore submodules. In fact, the code from the first link you posted is also there to ignore submodules, and it prints out some lines warning that it's doing so.

This was an intentional design decision to stop Semgrep CI from blocking CI when a submodule, which you might have no control over, has new issues, especially if the app has stricter rules than the su

[2021-01-28 12:27] Sjord commented on #177
Thank you. My use case is that I want to know when someone updates the submodule and the new version contains security issues that the old version didn't have. However, it's easily solved. I just `cd` into the submodule directory and run semgrep-action there.

[2021-01-28 12:27] #177 closed, assigned to nobody

[2021-02-01 19:10] #174 closed, assigned to brendongo

[2021-02-02 00:00] brendongo opened #181 "Make it safe to assume semgrep passing in PR means passing post merge"
For a git tree below:
[code]
After the pull request is merged the tree will look like
[code]
When we run semgrep-action on a github pull request we compare the code at C to D when we should be comparing H to G.

Relevant slack convo:
<img width="524" alt="Screen Shot 2021-02-01 at 3 53 52 PM" src="https://user-images.githubusercontent.com/6498855/106532795-b68ce300-64a5-11eb-9b02-8ee5a3be0926.png"

[2021-02-02 00:08] dlukeomalley commented on #181
@brendongo Relatedly, I've gotten some requests to revive Bento's "baseline" scan functionality in `semgrep-agent`, so we can declare issue bankruptcy and focus on new stuff coming in.

[2021-02-04 18:00] nbrahms opened #190 "semgrep-action git log is misleading"
Consider the following git graph:

[code]

When running semgrep-agent on `branch-b` with baseline ref `branch`, we expect to see four commits displayed as the "commits being scanned". However, we instead see:

[code]

[2021-02-04 20:40] #190 closed, assigned to nbrahms

[2021-02-04 23:48] brendongo commented on #149
Closed by https://github.com/returntocorp/semgrep-action/pull/172

[2021-02-04 23:48] #149 closed, assigned to brendongo

[2021-02-08 04:57] mjambon opened #195 "'cryptography' package requires a Rust compiler"
We're getting an error in https://github.com/returntocorp/semgrep/pull/2515/checks?check_run_id=1851883158 indicating that installing the cryptography package requires a Rust compiler.

![image](https://user-images.githubusercontent.com/343265/107178183-78e9f780-6988-11eb-9daa-f3ab88498f5f.png)

Announcement regarding dependency on rust: https://mail.python.org/pipermail/cryptography-dev/2020-Dece

[2021-02-09 00:45] nbrahms commented on #195
Elevate to `P0` as it's blocking builds.

[2021-02-09 16:51] mschwager commented on #195
Assigning to @nbrahms as he opened a PR.

[2021-02-09 17:30] #195 closed, assigned to nbrahms

[2021-02-10 19:56] nbrahms opened #198 "Git failure when running with `--baseline-ref HEAD~1`"
Reported in this Slack convo: https://r2c-community.slack.com/archives/CK86BJ5DW/p1612806952179600

[2021-02-10 20:05] underyx commented on #198
@nbrahms I don't think this is high priority. The user already solved their issue. We need to decide which of:

- document workaround
- investigate why it worked in the first place before our latest update (is it possible it just *looked* like it was working?)
- add hint in error message
- handle case in semgrep-agent nicely

we should do, but I think it's medium priority at most.

[2021-02-11 17:31] nbrahms opened #199 "Add Sentry tracking for agent errors"
Right now we rely on bug reports to detect errors. Let's engineer a method to return errors to a centralized location.

Suggestion here is to use Sentry, but we could, of course, use a homebuilt or alternate solution.

One concern is how to ensure that sensitive user data are removed or obfuscated (specifically any code content).

[2021-02-11 18:42] nbrahms commented on #198
I actually can't reproduce this:

[code]

[2021-02-11 19:21] nbrahms commented on #198
Note that this only occurs if `head~1` isn't actually in the git repository.

[2021-02-12 17:12] underyx opened #201 "Diff-aware related log line shows during push scans"
Noticed it here https://github.com/emilva/WebGoat/runs/1888299174#step:4:21

[code]

That 'not looking at pre-existing issues since all files with current issues are newly created' should not be there, since this was a `push` scan, not a `pull_request`. The behavior is correct; it's just confusing to log this line.

[2021-02-18 22:55] chmccreery opened #204 "Prevent semgrep-action from ever taking longer than 20 min"
Dev at Figma experience one 6-hour run. It appears to have been an anomaly, but we would like to protect ourselves against such anomalies, which potentially block users' CI systems. We could use a timeout wrapper function or investigate any options inside GitHub Actions.

[2021-02-23 15:36] bt-nia opened #206 "Missing SSH in semgrep-agent image"
Hi!

I'm happily using the `semgrep-agent` image referenced for the [GitlabCI integration](https://semgrep.dev/docs/sample-ci-configs/#gitlab-ci). We have some builds that depend on submodules acquired via `ssh`. Unfortunately, `ssh` does not seem to be installed in the Docker container:
local
[code]

on a runner:
[code]

Unfortunately I was not able to find the `Dockerfile` for this image to subm

[2021-02-23 15:53] underyx commented on #206
Hey @bt-nia! This makes sense to me, so I opened a PR. Could you try one scan with `returntocorp/semgrep-agent:pr-207` to confirm if that resolves your issue correctly?

[2021-02-23 15:56] underyx commented on #206
[code]

this output seems like your issue should be fixed with #207, but to be safe, it'd be good to know if your submodule setup works right as well with this `ssh` binary 🙃

[2021-02-23 16:05] bt-nia commented on #206
That was blazing fast @underyx , thank you!
Unfortunately the issue seems to be something different - I'm getting the same output while using the new image:
[code]

[2021-02-23 16:17] underyx commented on #206
I see, I was worried something like this might happen 😅

I don't fully understand the bug yet, but in reality, semgrep-agent explicitly skips scanning all submodules, so perhaps you could just skip initializing them by adding this to the job?

[code]

See [`GIT_SUBMODULE_STRATEGY` docs](https://docs.gitlab.com/ee/ci/runners/README.html#git-submodule-strategy) and a [prior discussion about semgrep-

[2021-02-23 16:20] underyx commented on #206
You might also want to look at this GitLab issue which seems to be talking about the same problem: https://gitlab.com/gitlab-org/gitlab-runner/-/issues/2075

[2021-02-23 16:37] bt-nia commented on #206
@underyx thank you so much for your help and ideas!
I found it was related to these Gitlab limitations:
https://gitlab.com/gitlab-org/gitlab-runner/-/issues/1113
https://gitlab.com/gitlab-org/gitlab-runner/-/issues/3631
The Gitlab runners do not seem to support `ssh` repos at this time.

I fixed it now by adding:
[code]
to my semgrep job definition. The variable `GIT_SUBMODULE_STRATEGY` was used t

[2021-02-23 16:37] #206 closed, assigned to nobody

[2021-02-25 13:12] underyx opened #213 "Semgrep CI should suggest autofixes in pull request comments"
Suggested by @orta-contrib. We can use the `suggestion` code block feature for this when an autofix is available.

[2021-02-25 13:14] underyx commented on #213
@clintgibler already had a prototype for this which could fix one-liner issues:

![image](https://user-images.githubusercontent.com/1060436/109158550-cbdaf180-7773-11eb-888f-ddc16ce422dc.png)

[2021-02-25 14:50] underyx commented on #199
We needed a sample error that should be tracked. I found a good candidate. Add this snippet to a policy via the Playground page:

[code]

Now run a scan with this policy, and semgrep-agent will fail because the pattern is an integer (`pattern: 1234` should instead be `pattern: "1234"`).

[2021-02-28 01:22] msorens opened #214 "Semgrep encountered an unexpected failure"
I run a nightly full (not differential) scan. This error just started appearing two nights ago:
[code]

I do not know if the command-line length is of any significance, but that list of files I omitted just above was 21519 characters long.

Does not look like it was a semgrep version bump causing this. As shown, the above error occurred with v0.40.0 and the nights prior to this, which were success

[2021-02-28 01:43] msorens commented on #214
Looks like this started happening Thursday evening. For a moment, I thought I could report that it occurred right about 8:30pm Thursday (because I have a PR right before that passing and a PR right after that failing), but then I noticed that on master there was an earlier run at 6pm that had the same failure. That is peculiar because it did not just start happening at a point in time. The error o

[2021-03-01 23:03] DrewDennison commented on #214
some non-determinism between runs found locally
![image](https://user-images.githubusercontent.com/1011067/109570679-7296f900-7ab8-11eb-8c09-5550edf47a87.png)

[2021-03-01 23:12] DrewDennison commented on #214
@mschwager @brendongo @aryx @mjambon Brendon and I have a local repro of the rule non-determinism would appreciate help thinking through the potential causes

[2021-03-01 23:14] DrewDennison commented on #214
Semgrep seems to always fail on the first run but then after running with `--json` and not exiting early it will work once without the `--json` option and then fail afterwards. I suspect cache invalidation but no hard data on that yet.

[2021-03-02 09:53] underyx opened #216 "Cache last used rules with actions/cache and scan with those if Semgrep App connection fails"
Thanks to @devd for the idea. This should improve scanning reliability. How long does Semgrep App connection take by the way? Maybe we could also improve performance by:

- immediately start a scan with cached rules on one thread and request the latest rules on another thread
- if the latest Semgrep App rules are identical to the cached version, use the early scan's results
- if the latest Semgrep

[2021-03-02 22:06] echlebek opened #217 "Action failed on Circle CI"
Filing this because the log told me to :)

[code]

[2021-03-03 03:05] brendongo commented on #217
Tracked it down to a server issue. Fix incoming.

[2021-03-09 11:42] zabbal opened #220 "[RFE] Variable to explicitly control full/diff scan"
By default semgrep-action scans only the diff added in the PR. That's very neat optimization and it probably should stay that way by default.

However for the projects just adopting semgrep CI integration it would be great to be able to explicitly configure full source code scan for CI running on PR.

Right now it's possible by changing trigger event to "push" instead of "pull_request" and switchi

[2021-03-11 11:38] underyx opened #222 "PR diff-aware scans don't scan all commits if main branch is merged into PR branch at some point"
I have a sample PR with this list of commits

<img width="928" alt="Screen Shot 2021-03-11 at 12 36 21" src="https://user-images.githubusercontent.com/1060436/110781591-63f1d400-8266-11eb-9d85-27413b8b54c8.png">

but now the action scans much fewer commits than I'd expect:

[code]

which must be because the merge-base was updated when I merged "main into bence/pr-comment-autofix".

[2021-03-11 11:38] underyx commented on #222
@nbrahms can you think of a simple fix?

[2021-03-11 11:41] #198 closed, assigned to nbrahms

[2021-03-12 02:57] nbrahms commented on #222
I wonder if we're calculating the merge base the wrong way round?

[2021-03-12 11:31] underyx opened #223 "Error when current ref has .semgrep.yml but baseline does not"
perhaps we should solve this by just continuing on when there’s no config on the baseline ref, and considering there to be 0 pre-existing issues?

See community Slack thread https://r2c-community.slack.com/archives/CK86BJ5DW/p1615392913077600

[2021-03-15 13:19] icio opened #224 "Specify multiple config rulesets/files in single job"
If I run `semgrep --config https://semgrep.dev/p/golang --config https://semgrep.dev/p/gosec` them semgrep will run only 26 rules rather than 37 because the two rulsets share 11 rules.

Trying to replicate that in the workflow YAML, setting `with: config: [...]` yields an error that a sequence is not expected. The workaround we're currently using is to create one workflow job per ruleset that we w

[2021-03-18 21:21] brendongo opened #227 "semgrep action crashes when the git diff includes a symlink to a directory"
# Manifestation
During clean up to a scan, semgrep-action looked like it was trying to call unlink on a directory. Semgrep-action does unlinking to remove Git Added files when trying to get to a baseline context.

It looked like somehow we were trying to remove a directory that wasn't even in the git diff (1 directory was not touched 2 git diff only shows files not directories). Turns out we got t

[2021-03-18 22:17] #227 closed, assigned to brendongo

[2021-03-19 16:35] minusworld opened #228 "Semgrep Action fails on 502 and 503 even though "Fail Open" is enabled"
OneMedical:

Figma:

[2021-03-19 16:51] chmccreery opened #229 "Semgrep Action occasionally, randomly, takes 6+ hours to finish"
This was first reported by an external customer. Re-running the job fixed it, but we have also seen this happen ~1x/week on our end-to-end tests.

Our first hypothesis, that we got hit by a weird GitHub Actions downtime, does not seem to hold up- on the end-to-end tests, often prod will timeout while staging runs just fine. The run always stops after the same line, too:

<img width="1026" alt="Scr

[2021-03-19 16:52] chmccreery commented on #217
@brendongo can we close this?

[2021-03-19 19:15] brendongo commented on #228
I think right now fail open is for when semgrep cli returns a non-zero exit code. 503s mean it couldn't communicate with semgrep-app (so really it can't even ask if it should fail open or closed). We can probably just add some retries to the network calls?

[2021-03-19 20:44] colleend opened #230 "Handle Bad Network Connections"
Two customers have commented that semgrep fails on error 502 and 503 although "fail open" is enabled [here](https://github.com/returntocorp/semgrep-action/issues/228).

To handle this, we can:
* add retries to network calls
* add different levels of failing (ex: strict mode for errors, which can be set in the cloud, and a network failure option locally)

[2021-03-23 18:24] dlukeomalley commented on #224
@icio Thanks for filing this ticket! We're in the process of spec'ing out a config file format that specifies rules and their versions for Semgrep to run. I think it will address this specific use case, but we're several weeks out from having that proposal and starting to think about implementation. Are you willing to bear with us as we queue up the config file work or do you need a solution to th

[2021-03-23 23:19] dlukeomalley commented on #230
Tracking work with an internal ticket 🙏

[2021-03-23 23:19] #230 closed, assigned to chmccreery

[2021-03-24 00:25] karenlcc commented on #223
Another user also encountered an issue like this.

Quoting the user here in case I misunderstand it. "But current setup default configuration does not work when there is a Pull Request from the fork of the repository (person who is not a collaborator). Github does not allow to use of repository secrets when the job is triggered by a non-collaborator."

[2021-03-24 12:31] icio commented on #224
I'll make use of what ever option comes first, and I'm not in a huge rush. I've used a few other GitHub actions that let you add command-line arguments to the underlying utility being invoked, which would solve my problem here and might be useful in other ways. But I don't think that's supported though, is it?

Thanks for answering my question :smiley:

[2021-03-25 05:58] zainab-amir opened #236 "Failed to Download config"
I am facing issue running the semgrep configuration, it has suddenly stopped working:

[code]

[2021-03-25 15:31] chmccreery commented on #236
Hi Zainab - thanks for reporting! I believe this will be fixed by a patch @sabihb has been working on. In the meantime, if you lowercase the url (https://semgrep.live/dlukeomalley:use-assertequal-for-equality) I think that might fix the immediate problem.

[2021-03-25 15:49] sabrinabrogren commented on #236
Almost done with the fix for this. It's my top priority today so in case the workaround doesn't work, the fix should be in soon! I'll close this ticket when we've resolved the issue.

[2021-03-25 19:03] dlukeomalley commented on #236
@chmccreery @sabihb The lowercased URL does not work for me, getting the same error. Thanks for working on a fix!

[2021-03-26 17:24] sabrinabrogren commented on #236
Fix has been applied - let us know if you have any further issues. Thanks!

[2021-03-26 17:24] #236 closed, assigned to sabrinabrogren

[2021-03-31 22:35] pierre-ernst opened #243 "Generated SARIF output not validating against JSON schema"
While generating sarif output with Semgrep action, I've noticed an extra `invocations` property that doesn't belong to the schema:
[code]

Note that Semgrep CLI does *not* exhibit the same behavior

[2021-04-15 16:42] underyx opened #255 "Fix error message when not running in git directory"

[2021-04-15 16:42] underyx opened #256 "Add link to findings when running in online mode"

[2021-04-15 19:12] underyx opened #257 "Report repo name in organization/project format from local scans"

[2021-04-19 16:33] chmccreery opened #261 "Include rule message text in slack notifications"
Currently, users have to click into the rule to visit the website to see what the rule is about and recommended remediation. Requested by an external user.

[2021-04-19 22:48] chmccreery opened #262 "Make output of semgrep-action clearer in terms of CAI rules that are running vs managed rules that are running"

[2021-05-03 19:54] brendongo commented on #217
For internal tracking this was fixed by https://github.com/returntocorp/semgrep-app/pull/1794

[2021-05-03 19:54] #217 closed, assigned to brendongo

[2021-05-20 19:43] brendongo commented on #223
Update: got side tracked on other things. Will take a look at this next week

[2021-05-20 19:43] brendongo commented on #223
Checking the file exists and treating no file existing as no issues found on the baseline seems like an ok fix

[2021-05-20 19:44] underyx commented on #223
agreed

[2021-05-26 16:27] saltycoder opened #290 "The returntocorp/semgrep-agent does not include the “--no-rewrite-rule-ids” option"
Currently we do not have the option to ignore findings while using the "semgrep-agent" in our CI pipeline.  Given the Rule IDs are being rewritten with a random CI directory name we are unable to add the Rule ID to a “nosemgrep: rule-id” inline comment.

Example renaming of a Rule ID:
[code]

Error message from semgrep-agent:
[code]

[2021-06-02 20:23] #103 closed, assigned to nobody

[2021-06-02 21:03] dlukeomalley commented on #290
@saltycoder I apologize for our delay responding here. What environment are you running `semgrep-agent` in? What does your invocation of the agent look like? Thanks, we'll dive in once we have some more information on how to reproduce 🙏

CC @emjin

[2021-06-02 21:05] dlukeomalley commented on #243
@pierre-ernst I know we've made improvements here and I'm wondering if this behavior is still exhibited. Do you have a command you're running that I can use to reproduce?

[2021-06-02 21:14] #256 closed, assigned to adamberman

[2021-06-02 21:17] #104 closed, assigned to chmccreery

[2021-06-02 21:22] dlukeomalley commented on #96
@brampat A Jenkins config was contributed to the docs here: https://semgrep.dev/docs/sample-ci-configs/#jenkins

Does this resolve the spirit of this ticket for you?

[2021-06-02 21:30] dlukeomalley commented on #224
@icio - @sabihb added support for multiple config values in `semgrep-agent` here: https://github.com/returntocorp/semgrep-action/pull/289 👏

[2021-06-02 21:30] #224 closed, assigned to dlukeomalley

[2021-06-02 21:31] #80 closed, assigned to nobody

[2021-06-02 21:32] #98 closed, assigned to nobody

[2021-06-02 21:32] #108 closed, assigned to nobody

[2021-06-02 21:33] #257 closed, assigned to nobody

[2021-06-02 23:07] #165 closed, assigned to nobody

[2021-06-03 14:30] pierre-ernst commented on #243
Hi @dlukeomalley, I was using your GitHub action first and then upload the generated SARIF to GitHub code scanning, you can see on [this line of code](https://github.com/pierre-ernst/detect-secrets-test-data/blob/main/.github/workflows/run-semgrep-baseline.yml#L28), how a tweak is necessary.

[2021-06-03 16:13] saltycoder commented on #290
@dlukeomalley & @emjin I am using GitLab for the CI and have chosen not to use GitLabs built-in SAST capabilities.  The pipeline runs as a child pipeline for other projects with the Semgrep rulesets being stored within a separate repository.  Here are the steps for the Semgrep stage:

1. On before script, a directory gets created.
2. Git clone of the repository containing the Semgrep rulesets.
3.

[2021-06-04 00:41] dlukeomalley commented on #290
@saltycoder Thank you for the detail! Are you available early next week to jump on a call to debug or is the project by any chance public for us to poke around?

When you git clone the repository containing the Semgrep rulesets, is this one of your repos you're cloning or is this `semgrep-agent` downloading rules from the Registry?

I'm in the midst of rewriting our GitLab CI/CD docs now and shoul

[2021-06-15 21:50] colleend opened #313 "JSONDecodeError in semgrep-action"
**Describe the bug**
User is experiencing a JSONDecodeError when running semgrep-action during their attempt to integrate into CI/CD pipeline:

[code]

[code]

**Expected behavior**
semgrep-action to finish without exiting.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that sh

[2021-06-15 21:51] colleend commented on #313
@benauca -- I've opened this issue to help track fixes. @benauca would you happen to know what priority this issue is for you?

[2021-06-24 19:18] #290 closed, assigned to chmccreery

[2021-06-30 08:39] javixeneize opened #322 "False positives management"
**Is your feature request related to a problem? Please describe.**
Maybe its something that is already built but i have not seen t documented anywhere. I would like to have the ability to ignore a specific false positive.
I dont want to ignore a rule completely as there might be a scenario where it is a valid finding in a file, but not in another in the same project
Also, i dont think it is a good

[2021-06-30 20:08] daghan opened #318 "Semgrep-CI docker image has to run as root in Jenkins"
The jenkins run fails without
[code]

full ref: https://github.com/daghan/lets-be-bad-guys/blob/master/Jenkinsfile

[2021-07-02 09:56] underyx opened #320 ""Rule Recommendation" results included in non-blocking findings count"
When using the "Rule Recommendation" functionality of Semgrep App, the CI runner displays very confusing messages like `2 current issues found` and `2 non-blocking findings hidden`.

[2021-07-02 20:55] #223 closed, assigned to brendongo

[2021-07-06 17:34] ievans opened #325 "checkout fails if repo uses git LFS"
Relevant section:
`    \nThis repository is configured for Git LFS but 'git-lfs' was not found on your path. If you no longer wish to use Git LFS, remove this hook by deleting .git/hooks/post-checkout.\n`

Full log:
[code]

[2021-07-06 17:44] #325 closed, assigned to nobody

[2021-07-12 16:00] nbrahms opened #330 "[GHA] Time out on git checkout"
Sporadically, the agent will time out during git checkout when run under GitHub actions

See https://github.com/semgrep/test-end-to-end-app/pull/7691/checks?check_run_id=3041336822

[2021-07-14 17:40] ievans opened #331 ""non-blocking" in output incorrectly describes behavior"
via https://returntocorp.slack.com/archives/C010SQK6GSD/p1626229972032200?thread_ts=1626229259.032100&cid=C010SQK6GSD

the semgrep action seems to lie about this being non-blocking: https://github.com/returntocorp/semgrep-app/runs/3062791177
[code]

that’s what it says (non-blocking), but then it fails my build.

[2021-07-14 23:50] raghavjain3 opened #332 "Include a list of files scanned by Semgrep in the CI output"
Users want to see which files were looked at during a Semgrep scan. One use case is for compliance reasons.

[2021-07-15 15:39] ankush commented on #135
Any progress was made on this? :thinking:

[2021-07-19 14:10] icio commented on #224
Thanks!

[2021-07-26 23:13] dlukeomalley commented on #320
Additional feedback from our Community Slack, this behavior continues to be very confusing and frustrating for `semgrep-agent` users:

A second conversation from the same day/time ([here](https://r2c-community.slack.com/archives/CK86BJ5DW/p1627304272068000)):

[2021-07-26 23:15] dlukeomalley commented on #320
Moving this to "bug" again given the level of confusion it has caused.

[2021-07-28 11:21] pc10201 opened #342 "\"semgrep-agent\": executable file not found in $PATH": unknown"
docker run -v $(pwd):/src --workdir /src returntocorp/semgrep-agent:v1 semgrep-agent --config p/ci --baseline-ref main
docker: Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "exec: \"semgrep-agent\": executable file not found in $PATH": unknown.
ERRO[0000] error waiting for container: context canceled

[2021-07-28 15:04] underyx commented on #342
Hey @pc10201! Is it possible that you tried semgrep-agent a long time ago, before we added the command alias? Maybe you just need to run `docker pull returntocorp/semgrep-agent:v1` before running this command. Another user has reported a similar issue where the Docker image came from an outdated Chinese mirror, and needed to be updated.

[2021-07-29 08:53] pc10201 commented on #342
I use returntocorp/semgrep-agent:sha-38dd4bf
It is OK

In chinese returntocorp/semgrep-agent:v1 is old

[2021-07-29 08:56] underyx commented on #342
Thank you for the reply! Do you know if we can do something to make the Chinese mirror update the v1 image?

[2021-07-29 09:17] pc10201 commented on #342
Maybe you can ask Docker corp to update  chinese CDN node

[2021-08-05 17:57] raghavjain3 commented on #106
Closing since the image [here](https://hub.docker.com/r/returntocorp/semgrep-agent) seems to be significantly smaller in size than a few months ago (60MB compressed instead of 100+MB).

@ievans please feel free to reopen if you find this to still be an issue

[2021-08-05 17:57] #106 closed, assigned to nobody

[2021-08-05 18:00] ievans commented on #106
brilliant work all!

[2021-08-06 17:29] mschwager opened #346 "generateSarif | INPUT_GENERATESARIF causes crash"
Background: https://r2c-community.slack.com/archives/CK86BJ5DW/p1628266506046400

When running with SARIF output, `semgrep_agent` crashes under certain repositories.

To repro:

- Visit https://github.com/fleetdm/fleet/tree/93a10e6f943f260e03a73d079b2f6074f659f8a5
- Run `git clone https://github.com/fleetdm/fleet.git`
- `cd fleet` and run `semgrep_agent`
- First, notice the following doesn't crash

[2021-08-06 20:20] pyth0n1c commented on #346
I am seeing the same issue on a different repo.  I can also confirm that

[code]
fails with the same error noted above while:

[code]
works as expected.

[2021-08-22 03:31] CAM-Gerlach opened #352 "Document how to disable diff-aware mode on CI"
I've scoured the docs, searched Google, looked through every issue in this repo and tried a bunch of things myself, and I can't seem to find anywhere that documents how to disable diff-aware mode for PRs, e.g. for the initial run of Semgrep on a new repo, and to ensure that the entire codebase is clean. Could that be clarified? Thanks!

[2021-08-22 03:56] CAM-Gerlach commented on #352
In fact, I ended up screwing up my repo's public history and having to do a bunch of Git black magic over this issue, as I couldn't figure out a way to add semgrep in a PR, and then in that same PR have semgrep identify the outstanding issues with my repo so I could fix them. I had to merge the PR and then have my main branch build fail just to be able to see the issues. I then had to fixup solvin

[2021-08-22 08:09] underyx commented on #352
Hi @CAM-Gerlach! Sorry this was such a painful experience. We were planning to change the default behavior to full scan on first run next week. I'll make sure to also document a manual override as part of that work!

[2021-08-23 00:00] CAM-Gerlach commented on #352
Great, @underyx ! Thanks for your quick response and all your work on the project, and looking forward to it!

[2021-08-23 14:15] brendongo commented on #352
@CAM-Gerlach yeah there's some magic going on under the hood that automatically does diff aware mode if the triggering event is a pull-request in github actions. You should be able to get a full scan by setting a triggering event to be push instead. Also if you want to keep the triggering event be a pull_request you can also set the SEMGREP_BASELINE_REF to be your first commit. (Unfortunately will

[2021-08-24 17:31] brendongo commented on #346
Fixed by #351

[2021-08-24 17:31] #346 closed, assigned to brendongo

[2021-08-24 17:42] brendongo commented on #342
@pc10201 I sent a support email to dockerhub on ways to remedy this but I think for purposes of this ticket we can have solution as manually trying to pull latest semgrep-agent:v1 image by shahash if other users in china are running into this problem.

[2021-08-24 17:42] #342 closed, assigned to nobody

[2021-08-24 17:48] brendongo commented on #313
I think with https://github.com/returntocorp/semgrep-action/commit/24e3c2698ba8c3fcae29ce795687dc402af2670a and https://github.com/returntocorp/semgrep-action/commit/de5a9f05498c78b7c65e415fb9628080a8f82e18 this should be fixed with latest semgrep-action version

[2021-08-24 17:48] #313 closed, assigned to nobody

[2021-08-24 17:54] brendongo commented on #243
This was fixed in https://github.com/returntocorp/semgrep/releases/tag/v0.46.0 on Apr 8. Thanks for the report @pierre-ernst sorry for delay in getting back to this issue. We are now compliant with invocations property in https://docs.oasis-open.org/sarif/sarif/v2.1.0/csprd01/sarif-v2.1.0-csprd01.html#_Toc10540933

[2021-08-24 17:54] #243 closed, assigned to nobody

[2021-08-25 17:37] #320 closed, assigned to nobody

[2021-08-26 14:33] aahamlin opened #356 "Internal error scanning repository"
Can someone help me understand what is going wrong with these scans?

I have switched to running on a gitlab-runner with more memory (6G limit rather than 2G limit) but still getting the error. I'm now suspecting this is one of the rules. And am trying a run with just the default starter and security rule to verify.

Any help determine what's going wrong would be appreciated.

[code]

[2021-08-26 15:22] underyx commented on #352
@CAM-Gerlach other than the documentation task, I wanted to ask about your opinion on some further changes we're about to introduce. But first, a quick note about philosophy: the core semgrep project is designed to be a predictable, versatile tool with a clean API. This project however, the semgrep-agent, has less strictness in its design and has a budget for 'magical' behavior, so that it can beh

[2021-08-28 01:25] CAM-Gerlach commented on #352
Yes, thanks; it was this very fact that I had to push to a main branch that had CIs enabled (or do some hacky stuff with a new throwaway branch on the public upstream repo) to get a full baseline scan, resulting in my mainline build failing and requiring rewriting Git history directly on `master` to clean things up, thus the whole mess I describe in detail above. Furthermore, thanks to the particu

[2021-08-28 01:29] CAM-Gerlach commented on #352
@brendongo

Yeah, thanks; as I describe in my comment, it was this very fact that I had to push to a main branch that had CIs enabled (or do some hacky stuff with a new throwaway branch on the public upstream repo, which is what I should have done in retrospect) to get a full baseline scan, resulting in my mainline build failing and requiring rewriting Git history directly on `master` to clean thi

[2021-08-28 01:58] CAM-Gerlach commented on #352
@underyx

Sounds great! One thing you might consider is triggering a full scan by default if the semgrep workflow/pipeline are detected to have been modified, as this means errors from newly added rules/rule groups or other changes could be present in existing code and otherwise would go under the radar until the files get touched at some indefinite point in the future, and it seems a pretty safe

[2021-08-28 02:35] CAM-Gerlach commented on #352
Happy to give me feedback; my UX experience is more on the GUI side of things (e.g. Spyder) but I can certainly share my perspective as a developer/user. Also, my usefulness is tempered by the fact that so far, I've only applied full linting suites like Semgrep to smaller (on the order of 10k LoC), well-linted projects with few/one active contributor, not the big ones like Spyder with lots of devs

[2021-08-30 14:55] underyx commented on #352
Before I send my other replies: just to clarify, touching a file with a pre-existing issue will not trigger a new finding. Even re-indenting or moving the exact line of code with existing issues will not trigger a new finding. I'm just noting this in case it helps with community adoption 🙃

[2021-08-30 20:30] CAM-Gerlach commented on #352
@underyx Ah okay; sorry for misunderstanding and thanks for clarifying. In that case, are the new findings simply never raised at all in the situations I mentioned (adding a new policy, adding Semgrep as a whole) unless the specific line is touched, or what ends up happening?

[2021-08-30 20:40] underyx commented on #352
What actually happens is that for any current finding, we scan the old version of the code from the base branch and see if the same rule fires on an identical line (minus whitespace.) If yes, we don't report the finding, assuming that it's pre-existing.

By the way, I'm working on some PRs for this issue right now, based on your feedback! Will respond to all of it soon!

[2021-09-03 19:39] gdavison opened #362 "Internal error running rules in GitHub PR"
I have my rules configured in the file `./.semgrep/import.yml`. The rules run fine locally, but returns an internal error when running in GitHub Actions.

Locally:

[code]

With the same configuration, GitHub Actions returns:

[code]

The GitHub Action is configured as:

[code]

It looks like Semgrep is finding the rules and succeeding, but something causes it to fail afterwards.

Moving the rules

[2021-09-09 19:59] mlissner opened #367 "Failed to run semgrep with error 2"
Not sure what you need here, but it said to post logs, so:

[code]

Full trace at: https://github.com/freelawproject/pdf-redaction-detector/runs/3560553452?check_suite_focus=true

Thank you!

[2021-09-09 20:53] brendongo commented on #356
Hi sorry for the delayed response. It looks like you are running a rule that contains the deprecated pattern-where-python rule. Removing the rule should remove this error

[2021-09-09 20:57] brendongo commented on #362
I think this has to do with when semgrep tries to run a baseline scan the local rules don't actually exist anymore. A workaround would be either to merge a PR onto the main branch with the rules or specifying the config as a variable to the actions. Root cause is https://github.com/returntocorp/semgrep-action/issues/223 was only fixed for .semgrep.yml and not a directory looks like.

[2021-09-09 20:58] brendongo commented on #367
Looks like it failed because it tried to run a deprecated pattern-where-python rule. Removing the rule should make this pass.

[2021-09-09 21:03] mlissner commented on #367
Which rule? I guess I remove it via the dashboard?

[2021-09-09 21:17] brendongo commented on #356
I've deleted the offending rule from our registry so running again should work!

[2021-09-09 21:17] brendongo commented on #367
It was probably one of
contrib.dlint.redos.dlint-catastrophic-redos
go.gorrilla.security.audit.handler-attribute-read-from-multiple-sources.handler-attribute-read-from-multiple-sources-dict
python.flask.experimental.correctness.different-route-names.flask-view-func-match-route-params
python.lang.security.audit.insecure-file-permissions.insecure-file-permissions

but I deleted them from the registr

[2021-09-09 21:28] mlissner commented on #367
I tried re-running it, but am still getting errors: https://github.com/freelawproject/pdf-redaction-detector/runs/3560553452?check_suite_focus=true

(though it says it worked??)

[2021-09-09 22:26] aahamlin commented on #356
Thank you!  This was found my first week of using semgrep so I appreciate
the help as it’s all new to me.

On Thu, Sep 9, 2021 at 5:17 PM Brendon Go ***@***.***> wrote:

--
Andrew

[2021-09-11 17:58] mlissner commented on #367
This seems to be working now. Thanks again!

[2021-09-11 17:58] #367 closed, assigned to nobody

[2021-09-20 17:00] #356 closed, assigned to nobody

[2021-09-20 23:54] pyth0n1c opened #376 "Generating a SARIF Report Causes Semgrep to Crash"
Hello,
Generating a report and writing to SARIF File currently causes Semgrep to crash.  There's a lot of output, so here's a link to a failed test run:
https://github.com/splunk/security_content/runs/3657205995?check_suite_focus=true
Please note that Upload SARIF File Step also fails, but that is because the file is not generated in the previous step.
The Workflow that causes this is:

[code]

[2021-09-21 00:12] chmccreery commented on #376
Hi @pyth0n1c,
Thanks for filing this! It looks to me like Semgrep is trying to parse a bunch of markdown files as go, ruby, etc. and running into parse errors. I'm not actually confident that the upload_sarif piece of this is what is causing the issue. Have you tried running without
generateSarif: "1"
to verify whether this line is actually causing the issues?

Thanks again!

[2021-09-21 13:55] nelenkov opened #377 "Semgrep action failed with exit code 2"
We are suddenly getting scan errors on projects that worked previously.

Any ideas about the cause of this or how to debug it?

Error output is below:

[code]

Workflow file is pretty typical:

[code]

[2021-09-21 14:00] nelenkov opened #378 "Invalid (empty) SARIF file generated"
The scan action generates an invalid SARIF file, causing the upload action to fail.

Maybe this is caused by this recent change: https://github.com/returntocorp/semgrep-action/commit/9e14dce842a906eec042c6c6383735cddfe20f96

It appears that Github is doing some validation on the SARIF file.

Output is below:

[code]

[2021-09-21 16:05] pyth0n1c commented on #376
I think you may be right, thank you for the quick response.  We had an error before that WAS caused by generateSarif that was associated with an open semgrep issue which was fixed.
I have confirmed that disabling generateSarif doesn't fix the problem.  I'm going to build out my .semgrepignore file more robustly and then try again!  I'll update here with my results :)

[2021-09-21 16:49] pyth0n1c commented on #376
@chmccreery your advice was spot on.  I updated out .semgrepignore and everything is working great.  Thanks for your help! I am closing this as solved.

[2021-09-21 16:49] #376 closed, assigned to nobody

[2021-09-21 18:16] chmccreery commented on #376
Wonderful, so glad that fixed it!

[2021-09-24 09:53] Sjord opened #381 "GitPython submodule error"
I am running into [an obscure error with git submodules](https://github.com/gitpython-developers/GitPython/issues/890), where it seems GitPython doesn't support the repo layout. It seems GitPython does not handle all submodule cases well, and there are no plans to fix it.

My repository is really an edge-case, in that it may be considered invalid. I can imagine that such edge cases are not going t

[2021-09-24 20:33] ultras5631 commented on #378
same issue there. any fixes?

[2021-10-09 05:27] vibhasethi opened #394 "Issue with python.django.security.audit.xss.var-in-script-tag.var-in-script-tag rule"
Output from Semgrep run:

Error running `tmp.tmpiyzwc216.rulesets.p.python.django.security.audit.xss.var-in-script-tag.var-in-script-tag`: Semgrep encountered an internal error. This may be a stack overflow. Try increasing your stack size via `ulimit -s 50000`
semgrep-core exit code: -11
semgrep-core command: /opt/vz/1.0/lib/python3.9/site-packages/semgrep/bin/semgrep-core -lang generic -json -con

[2021-10-12 13:49] sim642 commented on #377
Looks like due to some breaking change the SARIF output is outputted to stdout, not the file as it previously was.

[2021-10-18 16:40] underyx opened #404 "testing issue sync [PA-507]"

[2021-10-18 16:41] underyx commented on #404
Comment from [Linear (#507)](https://linear.app/r2c/issue/PA-507/testing-issue-sync-returntocorpsemgrep-action-404)

I wrote this comment on linear

---
*via LinearSync*

[2021-10-18 16:41] underyx commented on #404
I wrote this comment on GitHub

[2021-10-18 18:12] #404 closed, assigned to nobody

[2021-10-18 18:30] underyx opened #405 "testing label sync, hi [PA-508]"
heya

[2021-10-18 18:38] #405 closed, assigned to nobody

[2021-10-19 08:12] fcsonline commented on #135
Do we have news about this?

[2021-10-19 17:51] emjin opened #406 "semgrep-action does not treat renamed files correctly"
In https://github.com/returntocorp/semgrep/pull/3952, I moved the file `r2c-security-audit.yml` (which is exactly what it sounds like) to another folder. This caused semgrep-action to start reporting results on the file, which is expected. To get rid of this, I added the folder the file was in to the `.semgrepignore`. Unfortunately, this did not have an effect. I believe this line in the output is

[2021-10-19 17:52] emjin commented on #406
Full output:

[code]

[2021-10-20 19:20] raghavjain3 opened #407 "Semgrep Action fails if there are no rules in the policy"
![image](https://user-images.githubusercontent.com/32291067/138157832-17a1c549-546f-42c9-a3ef-c3546c41620d.png)

The agent build step shouldn't fail if there are no rules - instead we should have a clean pass with a clear message that there were no rules to scan with.

[2021-10-20 21:15] raghavjain3 opened #409 "Action should check a finding's triage state to display correct message to user"
Steps to repro:

1. Scan and get findings
2. Triage and ignore findings for a rule
3. Remove rule and scan again
4. Add rule back and scan again

On step 4, action should not present the original finding as a "current issue". Instead, there shouldn't be any current issues but instead specify that an issue is being ignored because of triaging.

[2021-11-04 23:22] nbrahms opened #418 "brew auto-pr is removing ruamel.yaml.clib dependency [PA-659]"
**Describe the bug**\
When creating an auto homebrew PR, it removes the ruamle.yaml.clib resource

Looks like this is because ruamel only lists clib as a dependency when running python < 3.10\
[https://sourceforge.net/p/ruamel-yaml/code/ci/default/tree/](https://sourceforge.net/p/ruamel-yaml/code/ci/default/tree/)**init**.py#l16

And in our release script [https://github.com/returntocorp/semgrep/b

[2021-11-04 23:38] nbrahms opened #419 "Semgrep scales linearly with number of languages [PA-660]"
From [https://github.com/returntocorp/semgrep-rules/pull/1590:](https://github.com/returntocorp/semgrep-rules/pull/1590:)

This is because we send rules by language to semgrep-core. We should either send language-specific files with each rule or let semgrep-core do file filtering.

From [https://github.com/returntocorp/semgrep/issues/4214](https://github.com/returntocorp/semgrep/issues/4214)\
Orig

[2021-11-08 11:22] roisec opened #421 "Unable to upload "semgrep.sarif" as it is not valid SARIF"
Hi,
I am got this error for the github action:

Run github/codeql-action/upload-sarif@v1
Uploading results
Error details: instance requires property "version"
Error details: instance requires property "runs"
Error: Unable to upload "semgrep.sarif" as it is not valid SARIF:

Have any ideas?

[2021-11-08 16:09] ievans commented on #421
Hi @RoiSec, can you share the SARIF file?

[2021-11-08 16:09] ievans commented on #421
Probably a dupe of https://github.com/returntocorp/semgrep-action/issues/378

[2021-11-08 22:17] roisec commented on #421
https://github.com/RoiSec/caspion/runs/4141290747

[2021-11-09 01:04] ievans commented on #394
Hi @vibhasethi sorry for the delayed reply. How much memory is your machine running with? Did you try the command suggested in the output? `ulimit -s 50000`

[2021-11-09 23:31] ievans opened #423 "Create log groupings from Semgrep output in Github actions ouptut"
We should use this github feature: https://docs.github.com/en/actions/learn-github-actions/workflow-commands-for-github-actions#grouping-log-lines

[2021-11-17 06:00] jayvdb opened #428 "Incompatible with act"
I am using the ["medium" runner](https://github.com/nektos/act#runners) of https://github.com/nektos/act , a local github actions runner, which fails with `sh.CommandNotFound: semgrep`

[code]

[2021-11-17 06:28] jayvdb commented on #79
This would also provide a resolution for https://github.com/returntocorp/semgrep-action/issues/332 .

However, the amount of output from `SEMGREP_AGENT_DEBUG` is huge, and it slows down the runner - too much to usably send to the github action log?

[2021-11-17 12:15] sim642 opened #429 "Re-running scan to generate SARIF report times out"
This recently started happening to all of our semgrep workflows, e.g. https://github.com/goblint/analyzer/runs/4236663683?check_suite_focus=true#step:4:44.
As the log shows, semgrep first runs fine and finds no issues. Then it starts re-running scan to generate SARIF report and that for some reason does nothing but waste 30min, time out and thus fail without having generated it.

[2021-11-20 00:09] brendongo commented on #429
Hi @sim642 are you able to run with setting the SEMGREP_AGENT_DEBUG env flag to 1

[2021-11-20 00:12] brendongo commented on #428
It looks like `act` might not be looking for `semgrep` in the right path? We definitely install semgrep https://github.com/returntocorp/semgrep-action/blob/develop/Dockerfile#L13 in the docker image so this might be something to file with act?

[2021-11-20 00:13] brendongo commented on #421
@RoiSec doesnt look like the sarif file is there?

[2021-11-20 00:14] brendongo commented on #418
Not sure why this is here but anyway this was solved

[2021-11-20 00:14] #418 closed, assigned to nobody

[2021-11-20 02:44] jayvdb commented on #428
The Dockerfile is setting `PATH=/root/.local/bin:${PATH}`, and that works when running the image locally.

But when I look at the env under `act` I see
[code]

https://github.com/nektos/act/issues/827 seems similar, and suggests it might be fixed on `master`.  Will give that a go.

[2021-11-20 02:57] MtMafia commented on #428
what's going on?

[2021-11-20 03:04] jayvdb commented on #428
When I use act `master` on macos, the PATH still doesnt have `/root/.local/bin` in it.

[2021-11-20 09:13] sim642 commented on #429
Sure! The workflow run with debugging enabled was here: https://github.com/goblint/analyzer/runs/4272519434?check_suite_focus=true#step:4:1. Since it's truncated and I'm not sure if the full thing is accessible for download or not, I'm attaching the full log here: [semgrep-30min.log](https://github.com/returntocorp/semgrep-action/files/7574251/semgrep-30min.log). It ends with the following:
[code]

[2021-11-21 17:40] catthehacker commented on #428
The PR you linked fixed sourcing environment variables from Docker images but only for when `act` uses them as a base container (` -P, --platform stringArray             custom image to use per platform (e.g. -P ubuntu-18.04=nektos/act-environments-ubuntu:18.04)`)

This doesn't work for your use case because `act` doesn't inspect the image it builds (yet) whether it be an action using Docker or st

[2021-11-24 11:21] michal-klimek opened #441 "Dangling .semgrep_logs"
The PR https://github.com/returntocorp/semgrep-action/pull/434 made our github actions pipelines unusable, because on self hosted runner the action leaves files in the `.semgrep_logs` directory. The directory is owned by a root, so subsequent checkout actions fail

[2021-11-24 15:33] mykter commented on #220
And for GitLab, it looks like it's not possible at all. ref #352

[2021-11-24 15:40] mykter commented on #352
In my case I don't really want special magic so it behaves differently on a first scan vs later ones. I want predictable behaviour, so I know whether there are any issues in the repo or not.

The workflow I prefer depends on the scale of the issues found, but is either:
 1. Add semgrep to CI and see all the issues
 2. Work through the backlog until they're all resolved, merge
 3. Know that every r

[2021-11-24 18:39] CAM-Gerlach commented on #352
:+1:

Yeah; that was my assumption as well, but at least when I experimented with it, it didn't seem to work at least at present.

[2021-12-01 22:59] brendongo commented on #441
Hmm we put it there so it is easy for people running the docker container locally or in CI to access the debugging logs. Can you add a step after semgrep to remove that directory?

[2021-12-02 10:57] michal-klimek commented on #441
Yes, I deal with it using an extra step. Anyway it was not obvious that these files could not be deleted when the workflow is run once again. Without inspecting action's source code one could not know that the action would write files owned by a root, moreover our workflows stopped working suddenly without a visible cause.

[2021-12-10 00:17] brendongo commented on #441
Hmm yes our bad 😅 there's probably a fix with the user we use in docker but we're in the process of porting over most of semgrep-agent functionality into semgrep itself so probably not worth the effort to dig through right now :D

[2021-12-10 15:03] ievans opened #451 "move semgrep-action functionality into semgrep"
This is a pinned issue to advertise the work that @brendongo is leading to move all/most semgrep-action functionality into semgrep itself. Would love to invite comments from the community!

[2021-12-14 00:20] emjin opened #454 "Merge commits causing extra findings"
Semgrep is reporting findings in files not touched. The relevant PR includes a large merge commit which may be the reason for this.

[2021-12-14 11:12] andyjones commented on #378
I'm hitting this as well when the PR being scanned hasn't changed any files that semgrep would scan (eg. readme or test files). #421 looks like the same issue as it says "found No files in the paths to be scanned" so it generates a serif file that only contains `{}`.

Github validate the serif file against https://github.com/github/codeql-action/blob/main/src/sarif_v2.1.0_schema.json

[2021-12-15 06:38] ShiftLefter opened #458 "Facing this error while running semgrep"
Hi,

Any ideas why I'm facing this error?

```Error: ROR] `/root/.local/bin/semgrep --skip-unknown-extensions --disable-nosem --json --autofix --dryrun --time --timeout-threshold 3 --config https://semgrep.dev/c/p/security-audit ... --debug -o .semgrep_logs/semgrep_agent_output .github/workflows/semgrep.yaml .semgrepignore` failed with exit code 7```

[2021-12-15 16:30] ievans commented on #458
Can you share the output of `.semgrep_logs/semgrep_agent_output`? What version of semgrep are you running?

docs on exit code 7: https://semgrep.dev/docs/cli-usage/#:~:text=7%20%3A%20All%20rules%20in%20config,does%20not%20understand%20specified%20language

[2021-12-15 16:32] ShiftLefter commented on #458
@ievans its resolved, made a typo in rule name

[2021-12-15 16:32] #458 closed, assigned to nobody

[2021-12-16 18:23] #454 closed, assigned to nobody

[2021-12-17 23:10] jonandersenverkada opened #468 "Repeated internal error"
We're seeing this internal error repeatedly.  Any ideas?  It is messing with our CI since we have Semgrep setup as required.

[semgrep-internal-error.txt](https://github.com/returntocorp/semgrep-action/files/7738222/semgrep-internal-error.txt)

[2021-12-17 23:23] jonandersenverkada commented on #468
I'm not able to reproduce the error locally.  Running "semgrep --config auto" works just fine on the repo synced locally.

[2021-12-18 14:02] jonandersenverkada commented on #468
Seems it was resolved internally at r2c.

[2021-12-18 14:02] #468 closed, assigned to nobody

[2021-12-21 19:56] emjin commented on #441
+1 from Clara. Maybe after we port this we can change the default behavior to remove the logs folder on a successful local run?

[2021-12-21 23:30] ronwaisberg-okta opened #471 "semgrep_agent_output for HEAD scan overwritten by baseline scan"
Hi there, my use-case relies on me accessing metavariable information contained in `semgrep_agent_output` however in CI diffing mode I experience the following issue:

1. `semgrep_agent_output` is first written in `_get_head_findings()` through `invoke_semgrep()`
2. if the baseline commit needs to be scanned, `semgrep_agent_output` will be overwritten in `_update_baseline_findings()`
3. the less u

[2021-12-22 18:26] ronwaisberg-okta commented on #428
I've had success running semgrep-agent in act by overwriting the CMD instruction and specifying PATH like so:
[code]
docs: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idstepswithargs

[2021-12-23 04:08] brendongo commented on #471
Hi can you explain your use case a little more? The semgrep_agent_output file is intended to be for debug logging and not intended to be stable output. Does the --json flag not give you something usable?

[2022-01-07 10:15] harshshah2-crest opened #476 "Unable to downgrade version of Semgrep used in Github actions"
- The latest released version of Semgrep 0.77.0 breaks our Github actions CICD pipeline as it errors out with [exit code 2](https://semgrep.dev/docs/cli-usage/#exit-codes).
- We tried to revert back to older Semgrep version v0.76.2 but we were unable to since each version is pushed to `v1` tag at dockerhub and in action.yml it always fetches the `v1` tag code.
ref: https://github.com/returntocorp/

[2022-01-07 20:29] ryanking opened #477 "internal error"
We got an error in CI and it said to file an issue:

[code]

[2022-01-10 17:04] #471 closed, assigned to nobody

[2022-01-10 20:28] aryx opened #481 "Errors when moving files around and using symbolic links"
See the error in semgrepdep here:
https://github.com/returntocorp/semgrep/runs/4766737510?check_suite_focus=true
The error happens with semgrepdep, not semgrep-action, but semgrepdep reuses code
from semgrep-action so the bug is probably there!

[2022-01-18 10:35] zakrush opened #488 "none unique id for different vulnerabilities"
Hi. I'm testing semgrep-agent with different scenarios. So. For test I was scanning only one file:

[ImportDirectoryController.txt](https://github.com/returntocorp/semgrep-action/files/7888235/ImportDirectoryController.txt)
(rename it to js instead txt)

I run it this command:
[code]
Here is 2 vulnerabilities. They have the same unique id.
How are you calculated this id?
The same ID for different

[2022-01-18 16:43] theoretick opened #489 "SAST Integration with GitLab will stop working in GitLab 15.0 (2022-05-22)"
Hey folks! Just wanted to give you a heads-up on an upcoming deprecation from GitLab.

[GitLab SAST schemas below 14.0.0](https://docs.gitlab.com/ee/update/deprecations#sast-schemas-below-1400) have been deprecated.

[src/semgrep_agent/main.py#L386](https://github.com/returntocorp/semgrep-action/blob/3a2579faa7ee08d0703f2472f6699d5218e9b346/src/semgrep_agent/main.py#L386) is using a deprecated ver

[2022-01-18 16:44] theoretick commented on #489
Worth noting that [the recent addition of support for GL secret scanning reports](https://github.com/returntocorp/semgrep-action/pull/403/files) [is already at 14.0.0](https://github.com/returntocorp/semgrep-action/blob/3a2579faa7ee08d0703f2472f6699d5218e9b346/src/semgrep_agent/main.py#L394) so looks like no change should be needed there

[2022-01-19 20:03] Jason-Lim00 opened #490 "Rule Recommendation output producing extra noise regarding findings."
Had an issue regarding extra noise/visual clutter regarding findings. An example can be the following in which a user had no actual issues found but sent 8 due to Rule Recommendation.

[code]

We would like to think about reducing this noise to not cause confusion.

[2022-01-21 17:31] HariSekhon opened #491 "Github Action returntocorp/semgrep@v1 broken"
This used to work and has just broken:

[code]

[code]

[2022-01-24 14:24] kkania-splunk commented on #491
we're facing the same issue

[2022-01-24 21:17] brendongo commented on #491
@HariSekhon does ```semgrep --skip-unknown-extensions --disable-nosem --json --autofix --dryrun --time --timeout-threshold 3 --config https://semgrep.dev/c/p/security-audit --config https://semgrep.dev/c/p/secrets --enable-metrics --debug``` exit successfully when you run semgrep locally?

[2022-01-25 07:17] erfanmoshiri opened #500 "git internal error"
`/root/.local/bin/semgrep --skip-unknown-extensions --disable-nosem --json --config https://semgrep.dev/c/p/security-audit --config https://semgrep.dev/c/p/secrets --config https://semgrep.dev/c/p/django --config https://semgrep.dev/c/p/docker --config https://semgrep.dev/c/p/auto --config https://semgrep.dev/c/p/gitlab-bandit --metrics off --debug -o /tmp/tmpkm0uunj0 campaign/models/created_conte

[2022-01-27 08:13] jrasell opened #503 "internal error when running GitHub action on Nomad repo"
Firstly thank you; the Nomad team recently integrated semgrep into our CI process which has proved immediately useful. We are, however, getting an internal error reported when running via GitHub actions. Any help would be greatly appreciated.

Link: https://github.com/hashicorp/nomad/runs/4963163639?check_suite_focus=true

Output:

[code]

[2022-01-27 16:27] ievans commented on #503
Hey, thanks for the great error report! I suspect that your rules are invalid -- [see CLI reference for exit code 7 (invalid config)](https://semgrep.dev/docs/cli-usage/#:~:text=7%3A%20At%20least%20one%20rule%20in%20config%20is%20invalid )

Can you try running `semgrep --config .semgrep/ nomad/` locally, without the --quiet flag?

[2022-01-27 19:06] brendongo commented on #503
If I am understanding github UI correctly looks like https://github.com/hashicorp/nomad/tree/b-validate-plan is the branch this internal error is reporting on and it looks like it doesn't have a .semgrep directory in it so that might be why this is failing as invalid rule config

[2022-01-27 19:08] brendongo commented on #500
Hi @erfanmoshiri are you able to paste more of the logs here?

[2022-01-27 19:21] brendongo commented on #488
I think https://github.com/returntocorp/semgrep-action/blame/develop/src/semgrep_agent/findings.py#L139 will need to be changed to https://github.com/returntocorp/semgrep-action/blame/develop/src/semgrep_agent/findings.py#L173 but not too sure what downstream effects of this change will be

[2022-01-27 19:23] brendongo commented on #481
Looks like our git logic didn't handle the rename well ```p-core/src/core/Semgrep_core_response.atd → interfaces/Output_from_core.atd ```

[code]

[2022-01-27 19:27] brendongo commented on #476
HI @harshshah2-crest sorry this fell through the cracks during the holidays. Are you able to provide more logs on this crash?

[2022-01-27 19:28] brendongo commented on #477
Hi @ryanking. Apologies this fell through the cracks during the holidays. Was this working before 0.77.0 and is it still not working on 0.80.0?

[2022-01-27 19:38] brendongo commented on #429
Forgot to follow up on this but https://github.com/returntocorp/semgrep-action/pull/437 should have solved the infinite loop above. Let us know if you see this again!

[2022-01-27 19:38] #429 closed, assigned to nobody

[2022-01-27 19:40] brendongo commented on #441
Closed by https://github.com/returntocorp/semgrep-action/pull/496

[2022-01-27 19:41] #441 closed, assigned to nobody

[2022-01-27 19:42] brendongo commented on #378
I think this is closed by https://github.com/returntocorp/semgrep-action/pull/457

[2022-01-27 19:42] #378 closed, assigned to nobody

[2022-01-27 19:45] brendongo commented on #421
I think closed by #457

[2022-01-27 19:45] #421 closed, assigned to nobody

[2022-01-27 19:46] brendongo commented on #90
With local `make release` script that doesn't need sha256 hashes i think can close this as stale

[2022-01-27 19:46] #90 closed, assigned to nobody

[2022-01-27 20:50] colleend commented on #90
Nice 👍

[2022-01-27 21:41] ryanking commented on #477
Seems to be working for now.

[2022-01-27 21:41] #477 closed, assigned to nobody

[2022-01-28 08:01] jrasell commented on #503
Hi @ievans and @brendongo and thanks for the quick responses. I took a deeper look last night and it does seem semgrep attempted to run its action against and branch that didn't have the rules directory available. Apologies for the noise and i'll close this issue out.

[2022-01-28 08:01] #503 closed, assigned to nobody

[2022-01-28 14:44] ievans opened #504 ""internal error" reported if rules directory is missing"
If you run semgrep from a branch that doesn't have rules, it will report an internal error:

[code]

Expected behavior would be an error message telling you `invalid config, path .semgrep/ not found`.

Originally reported in https://github.com/returntocorp/semgrep-action/issues/503

[2022-01-28 14:45] ievans commented on #503
@jrasell no need to apologize, you just opened a ticket exactly as the error message asked you to! I filed a new ticket specifically about the confusing output message: https://github.com/returntocorp/semgrep-action/issues/504

[2022-01-28 20:25] shoenig opened #505 "semgrep failed with exit code 7"
... and asked to file an issue.

[code]

[2022-01-28 21:32] ievans commented on #505
@shoenig I suspect that your rules are invalid -- see [CLI reference for exit code 7](https://semgrep.dev/docs/cli-usage/#:~:text=7%3A%20At%20least%20one%20rule%20in%20config%20is%20invalid) (invalid config)

Can you try running semgrep --config .semgrep/ nomad/ locally, without the --quiet flag?

thanks for filing an issue as requested, this one is on us; I suspect this is just poor UX on the par

[2022-01-31 09:35] zakrush commented on #488
@brendongo  yes. I agree.
```str(uuid.uuid5(uuid.NAMESPACE_URL, str(self.path))),```
It's not unique hash data. If semgrep will find different findings to same file, it's was have the same id, it's wrong.

[2022-02-03 11:46] HariSekhon commented on #491
I think it was a temporary error with the semgrep action itself which was resolved.

[2022-02-03 11:46] #491 closed, assigned to nobody

[2022-02-15 07:06] utkarsh08kher opened #515 "Semgrep Agent Error"
Hi Team,

We are getting the below error while running the Semgrep github actions agent

**Log Line**
[code]

Can you guys please take a look and let me know, thanks!

[2022-02-17 15:55] hetangmodi-crest opened #518 "Question related to python-logger-credential-disclosure check"
Based on `python-logger-credential-disclosure` check and regex mentioned in the semgrep registry ([link](https://registry.semgrep.dev/rule/python.lang.security.audit.logging.logger-credential-leak.python-logger-credential-disclosure)), would it imply that if the credentials were disclosed at warn, debug, or critical level, won't be caught by the check?
Does this check require an update to not allo

[2022-02-17 17:18] nbrahms opened #519 "Create reliable issue reproduction template"
Currently, users may experience one of a number of agent failures, and root-causing issues generally can require:

- The scanned commit history
- The config used
- File states at both branch head and at merge base
- Output logs

Collecting all this to provide to r2c can be onerous.

One suggestion would be to provide the option to upload this securely to an r2c backend (e.g. using a manual GHA tri

[2022-02-18 21:27] nbrahms commented on #515
Hi @utkarsh08kher ,

I'm sorry you ran into this! Thank you for the bug report, and helping us improve semgrep-action.

Are you able to set:
[code]
in your workflow config file, in the `uses: returntocorp/semgrep-action@v1` block?

You may also want to enable step debugging in GHA according to https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging#enabli

[2022-02-21 05:37] #518 closed, assigned to nobody

[2022-02-23 21:59] chmccreery opened #526 "Semgrep-agent wipes uncommitted changes"
If running semgrep-agent locally on code changes that are not committed, those changes are no longer there after the semgrep-agent run finishes. Probably only relevant for localy runs, but potentially a destructive/bad bug.

[2022-02-24 09:46] Sjord commented on #451
[feat(baseline): Enable semgrep to perform baseline scans by brendongo · Pull Request #4571 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/pull/4571)

[2022-02-25 08:52] Sjord commented on #451
Experimental baseline scanning is present in [semgrep 0.82](https://github.com/returntocorp/semgrep/releases/tag/v0.82.0).  Run with --baseline-commit GIT_COMMIT to only
show findings that currently exist but did not exist in GIT_COMMIT.

[2022-03-04 10:35] utkusen opened #530 "Commit hash is not provided in the output of a diff-aware scan"
Hi,

I'm running a diff aware scan and receiving the output in json format:

`docker pull returntocorp/semgrep-agent:v1 && docker run -v $(pwd):$(pwd) --workdir $(pwd) returntocorp/semgrep-agent:v1 semgrep-agent --config auto --baseline-ref main --json`

The pull request that I'm scanning has 3 commits in it and semgrep shows that information as well:

[code]

Semgrep finds one issue, but the outp

[2022-03-04 15:34] zakrush commented on #488
So. I tested this solution and It's work fine for me.

[2022-03-07 08:55] caglarsayin commented on #530
Heey
+1

[2022-03-09 23:10] garyowner06 opened #534 "Passing options into the action"
Hi,

Currently trying to reduce the noise of the alerts and focus on high findings, but I'm struggling to find out how to replicate the cli options in the GitHub Actions playbook.

[2022-03-10 05:12] ievans commented on #534
hi @garyowner06 , thanks for letting us know, and sorry for the frustration

we are currently migrating most action functionality into Semgrep itself: https://github.com/returntocorp/semgrep-action/issues/451 which will hopefully resolve the option discrepancy soon

[2022-03-10 18:04] ievans commented on #394
@vibhasethi any update? Can you try with the latest release of Semgrep?

[2022-03-10 19:36] vibhasethi commented on #394
Works. Closing this issue. Thanks!

[2022-03-10 19:36] #394 closed, assigned to nobody

[2022-03-14 00:18] garyowner06 commented on #534
thanks @ievans for the update, will keep an eye out for that issue implementation.

[2022-03-16 21:43] emjin opened #539 "Prevent one bad rule from crashing the action"
Generally, users still want scans to complete even if one rule is bad so that they aren't blocked. Need a solution that warns users sufficiently loudly but allows them to push code

[2022-03-16 21:45] underyx commented on #539
Important question to figure out: how will users and r2c be alerted about rules being bad?

For instance, today's issue, the github token secret scanning rule broke. It's critical for our trustworthiness that Semgrep doesn't ever silently allow a github token to be committed. A rule not scanning is _nearly_ as much of a problem as a rule matching.

[2022-03-16 21:53] ziyadedher commented on #539
Are rules generally version-controlled in the registry? Maybe some kind of backoff with decreasing versions could be a good fallback to (1) not break everything when one rule breaks and (2) continue doing at least as good as a job before an upgrade.

[2022-03-16 22:14] nbrahms commented on #539
^ way back when we talked about having a "minimum version" field in rules; semgrep would discard any rules whose minimum version was above the current version. I think ditto for maximum versions.

[2022-03-16 22:48] jonandersenverkada opened #540 "Internal error on gradle.properties"
Error when using GitHub action to analyze a pull request.  There is nothing special about the GitHub action configuration.

The internal error:
Run returntocorp/semgrep-action@v1
/usr/bin/docker run --name returntocorpsemgrepagentv1_413d70 --label 29a9[5](https://github.com/verkada/Verkada-Android/runs/5577096832#step:4:5)e --workdir /github/workspace --rm -e INPUT_PUBLISHTOKEN -e INPUT_AUDITON -e

[2022-03-17 06:42] dlukeomalley commented on #540
Hi @jonandersenverkada, we had an brief outage today that caused scan failures for people running the [p/secrets](https://semgrep.dev/p/secrets) ruleset. The outage began on 3/16/22 at 2:03 PM PDT and was resolved at 2:33 PM PDT (lasting 30 minutes). Is this now succeeding for you?

CC @faceyacc @Jason-Lim00 @holdenmcg

[2022-03-17 19:41] emjin commented on #539
Discussion in semgrep: https://github.com/returntocorp/semgrep/issues/4828

[2022-03-17 21:25] sdasyam opened #541 "Failed with exit code 7 when running semgrep_app_rules.yaml with Type Script."
Hi,

This issue happens intermittently. We are using semgrep 0.81.0 with python 3.9.10 on github actions.

[code]
This is an internal error, please file an issue at https://github.com/returntocorp/semgrep-action/issues/new/choose
and include any log output from above.

[2022-03-19 16:21] caglarsayin opened #542 "semgrep --debug options makes the scan --strict and fail the whole scan"
I am scanning a go project which has utf-8 characters and semgrep agent is falling as in the example below

`semgrep-agent --config p/security-audit --config p/secrets --baseline-ref master --json`

[code]

I went deeper in the issue and and run the semgrep as shown above and here is the output.

[code]

The root cause of this issue a utf-8 character in a GoLang source code but it is quite usual f

[2022-03-19 16:21] caglarsayin opened #559 "semgrep --debug options makes the scan --strict and fail the whole scan"
I am scanning a go project which has utf-8 characters and semgrep agent is falling as in the example below

`semgrep-agent --config p/security-audit --config p/secrets --baseline-ref master --json`

[code]

I went deeper in the issue and and run the semgrep as shown above and here is the output.

[code]

The root cause of this issue a utf-8 character in a GoLang source code but it is quite usual f

[2022-03-21 09:43] Czaki opened #547 "Unexpected input(s) 'publishDeployment', valid inputs are ['entryPoint', 'args', 'config', 'publishToken', 'generateSarif', 'auditOn']"
The Run of hook on 4DNucleome/PartSeg failed with exit code 7. https://github.com/4DNucleome/PartSeg/runs/5624791349

[code]

[2022-03-21 09:45] jayvdb commented on #541
I am also seeing this on a typescript repo, last action run was successful 4 days ago and now we get:
[code]

[2022-03-21 09:48] jayvdb commented on #541
According to https://github.com/returntocorp/semgrep-action/issues/505#issuecomment-1024658776 , `7` means there is an error in one of the typescript rules.

https://semgrep.dev/docs/cli-usage/#:~:text=7%3A%20At%20least%20one%20rule%20in%20config%20is%20invalid

[2022-03-22 16:48] pauloiza10 opened #548 "Semgrep Action failed with exit code 2 when no issues are found"
We are getting the same error across multiple repos today when yesterday we didn't see any of these errors.

If semgrep finds an issue, the SARIF report is generated. For some reason, it only fails with exit code 2 if it finds no issues.

Have tried disabling the timeout `.github/workflows/semgrep.yaml`
[code]

But that did not resolve the issue nor change the time it took for the action to execut

[2022-03-25 15:07] brumhard commented on #548
Same happens on version `semgrep 0.83.0 on Python 3.9.11`. Could maybe be an issue the SARIF report generation. It also feels a bit flaky since sometimes it still seems to work 👀

[2022-03-25 15:17] brumhard commented on #548
I think removing `generateSarif: "1"` resolves the issue for now, so I guess there's some issue with that.

[2022-03-30 17:19] ristomcgehee opened #550 "Relative paths not working"
We use Semgrep CI to scan a list of files. It's been working great for a while, but last night it failed because it no longer recognized relative file paths. This was the error:
[code]
Let me describe a scenario that illustrates the issue. Suppose that on my host machine, I have a path `/repo` that contains 2 files: `rules.yml` and `someFile.php`. Running with the image that has the current `v1` t

[2022-03-30 23:56] brendongo commented on #548
@brumhard can you give an example reproduction with file + rule so we can investigate

[2022-03-31 00:29] underyx commented on #550
Thank you @chrismcgehee for reporting this issue! We'll be taking a look at it first thing tomorrow PST morning. I'm sure it won't take long to fix as your reproduction steps seem great.

I wanted to warn you that we scheduled an update of the p/secrets ruleset for tomorrow PST morning, which will not be compatible with older versions of semgrep. (The p/secrets ruleset will use string entropy calc

[2022-04-01 19:57] kodbe opened #553 "UnknownLanguageError - This is an internal error, please file an issue"
I am running this command in my GitLab CI job:
semgrep-agent --gitlab-json
I am getting this error:
`{"errors": [{"code": 8, "level": "error", "long_msg": "unsupported language: dockerfile. supported languages are..`

`
=== failed command's STDERR:
=== [ERROR] `/root/.local/bin/semgrep --skip-unknown-extensions --disable-nosem --json --autofix --dryrun --enable-metrics --no-rewrite-rule-ids --conf

[2022-04-04 09:15] mikkeschiren opened #555 "Output as json file?"
Integrated the action in a project and it works fine.
One thing I would like to do is save the report in json (--json) to a file (--output), how do I do that?

[2022-04-04 09:46] mikkeschiren commented on #555
Json I got sorted:
[code]
But how do get the input in a file? I am pushing this file later to an endpoint.

[2022-04-04 15:49] brumhard commented on #548
Hi @brendongo that's kinda tricky, since it seems to be a bit flaky. Removing `generateSarif: "1"` did seem to improve the pipelines a bit but even then some pipelines failed without any error message. I'll try to update if I find any pattern.

[2022-04-04 22:43] brendongo commented on #550
Hey @chrismcgehee if you change the target volume from /repo to /src as in instructions https://github.com/returntocorp/semgrep-action#usage-outside-ci relative paths should work for both versions:

[code]

If you are using the semgrep binary and not semgrep-agent I recommend using the returntocorp/semgrep image instead of semgrep-agent

Under the hood semgrep in docker changes it's working direct

[2022-04-05 10:22] zakrush commented on #555
You can use: `--gitlab-json > report.json`

[2022-04-05 10:27] zakrush commented on #488
@brendongo do you know where is it logic now? I wanted to do pull request, but see that findings.py was deleted

[2022-04-05 11:18] mikkeschiren commented on #555
I got this sorted with some help on slack, like:
[code]

[2022-04-05 11:18] #555 closed, assigned to nobody

[2022-04-05 11:42] zakrush commented on #488
create pull request for v1
https://github.com/returntocorp/semgrep-action/pull/556

[2022-04-05 21:26] brendongo commented on #550
Marking this as closed. IMO using /src instead of /repo seems fine

[2022-04-05 21:26] #550 closed, assigned to brendongo

[2022-04-05 21:30] brendongo commented on #553
Seems like you are using a version of semgrep that does not include dockerfile support. Can you post more logs / the version of semgrep this is running? We added dockerfile support on https://github.com/returntocorp/semgrep/blob/develop/CHANGELOG.md#0790---2022-01-20

[2022-04-05 21:45] brendongo commented on #488
Sorry just seeing this now https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/formatter/gitlab_sast.py#L41 is where it is located now

[2022-04-05 21:49] brendongo commented on #547
@Czaki the Unexpected Input is a warning by github actions but does not affect this run: https://github.com/4DNucleome/PartSeg/runs/5823218027?check_suite_focus=true#step:4:1 the warning is printed even on successful runs. You can safely remove https://github.com/4DNucleome/PartSeg/blob/develop/.github/workflows/semgrep.yml#L24 this line as we no longer need it

As for the failure it looks like yo

[2022-04-05 21:49] #547 closed, assigned to nobody

[2022-04-05 21:51] brendongo commented on #548
We stabilized the sarif generation with 0.86.5 (or latest semgrep-action) let us know if you are still seeing failures @brumhard @pauloiza10

[2022-04-05 21:51] #21 closed, assigned to nobody

[2022-04-05 21:54] brendongo commented on #27
semgrep-agent and semgrep ci will not run a scan (fatal exit) if it is both logged in and an explicit config is set

[2022-04-05 21:54] #27 closed, assigned to underyx

[2022-04-05 21:54] #31 closed, assigned to nobody

[2022-04-05 21:55] brendongo commented on #74
With 0.86.5 we do print number of rules and where rules are fetched from so marking this as closed

[2022-04-05 21:55] #74 closed, assigned to nobody

[2022-04-05 21:56] brendongo commented on #79
With `semgrep ci` this is now possible by running `semgrep ci --debug` or `semgrep ci --verbose`

[2022-04-05 21:56] #79 closed, assigned to nobody

[2022-04-05 21:57] brendongo commented on #81
I believe `semgrep` output now includes information on ignored paths and skipped paths

[2022-04-05 21:57] #81 closed, assigned to nobody

[2022-04-05 21:59] #96 closed, assigned to nobody

[2022-04-05 21:59] brendongo commented on #96
`semgrep ci` is runnable wherever we can run a docker container or run pip install so I think this can be closed

[2022-04-05 22:00] brendongo commented on #112
Moving forward, functionality here will be in lockstep with semgrep releases so we can include an additional tag for stability

[2022-04-05 22:00] #112 closed, assigned to nobody

[2022-04-05 22:08] brendongo commented on #406
I believe git deletions are handled correctly now

[2022-04-05 22:08] #406 closed, assigned to nobody

[2022-04-05 22:09] brendongo commented on #377
I believe this was likely fixed by https://github.com/returntocorp/semgrep-action/pull/457

[2022-04-05 22:09] #377 closed, assigned to nobody

[2022-04-05 22:11] #332 closed, assigned to nobody

[2022-04-05 22:11] #331 closed, assigned to nobody

[2022-04-05 22:11] #330 closed, assigned to nobody

[2022-04-05 22:12] brendongo commented on #318
We now run as root since in new docker images for semgrep-agent and semgrep

[2022-04-05 22:12] #318 closed, assigned to nobody

[2022-04-05 22:12] #255 closed, assigned to nobody

[2022-04-05 22:13] brendongo commented on #222
I think this was fixed by https://github.com/returntocorp/semgrep-action/pull/456

[2022-04-05 22:13] #222 closed, assigned to nobody

[2022-04-05 22:14] brendongo commented on #214
I think this is solved

[2022-04-05 22:14] #214 closed, assigned to nobody

[2022-04-05 22:15] #213 closed, assigned to nobody

[2022-04-05 22:19] #201 closed, assigned to nobody

[2022-04-05 22:23] #160 closed, assigned to nobody

[2022-04-05 22:23] #158 closed, assigned to nobody

[2022-04-05 22:23] #145 closed, assigned to nobody

[2022-04-05 22:29] brendongo commented on #542
Hi @caglarsayin sorry for the delayed response. We just released a new version of the agent last week that came with a bunch of file targeting fixes and I suspect this error you were seeing might have been caused by a binary file being treated as a go file? If you run the latest `semgrep-agent` or even `semgrep` it should complete without issue. Let us know if that is not the case .

[2022-04-05 22:29] brendongo commented on #559
Hi @caglarsayin sorry for the delayed response. We just released a new version of the agent last week that came with a bunch of file targeting fixes and I suspect this error you were seeing might have been caused by a binary file being treated as a go file? If you run the latest `semgrep-agent` or even `semgrep` it should complete without issue. Let us know if that is not the case .

[2022-04-05 22:32] ievans commented on #476
The need for ability to revision is addressed with the 0.86.5 release of Semgrep which moved action functionality into the regular CLI. Closing--@harshshah2-crest feel free to re-open if the problem re-occurs on 0.86.5!

[2022-04-05 22:32] #476 closed, assigned to nobody

[2022-04-05 22:32] brendongo commented on #541
@sdasyam @jayvdb we released a couple of rules 3 weeks ago that were using unreleased syntax and quickly rolled them back. Are you still seeing these failures if you rerun semgrep?

[2022-04-05 22:32] #540 closed, assigned to nobody

[2022-04-05 22:33] brendongo commented on #451
This is fully in semgrep as `semgrep ci`

[2022-04-05 22:33] #451 closed, assigned to nobody

[2022-04-05 22:35] brendongo commented on #534
@garyowner06 see `semgrep ci --help` with latest semgrep >= 0.86.5

[2022-04-05 22:35] #534 closed, assigned to nobody

[2022-04-05 22:38] brendongo commented on #530
@utkusen we currently don't plan on including the specific commit an issue was first introduced in. With PR scans we only ever scan the head commit and the base commit so all semgrep would know is that it existed in head but not base. semgrep-app (semgrep.dev) makes PR comments using the head commit to interact with github apis

[2022-04-05 22:38] #530 closed, assigned to nobody

[2022-04-05 22:40] #515 closed, assigned to nobody

[2022-04-05 22:40] #505 closed, assigned to nobody

[2022-04-05 22:41] brendongo commented on #504
Now that we only call semgrep once and it pulls the rules we always use latest rules on both head and base

[2022-04-05 22:42] #504 closed, assigned to nobody

[2022-04-05 22:42] #500 closed, assigned to nobody

[2022-04-05 22:43] brendongo commented on #490
Fixed in semgrep 0.86.5

[2022-04-05 22:43] #490 closed, assigned to nobody

[2022-04-05 22:45] ievans commented on #135
@ankush @fcsonline @bflad @msorens @jack-om

sorry for the delay in comms! We just finished a long-running project to port semgrep-action into Semgrep itself.

as of Semgrep 0.86.5, all semgrep-action functionality now lives in Semgrep CLI itself so there is full flag support parity. Let me know if you have any issues!

[2022-04-05 22:45] #135 closed, assigned to dlukeomalley

[2022-04-05 22:45] brendongo commented on #419
We now send all rules to semgrep-core

[2022-04-05 22:45] #419 closed, assigned to nobody

[2022-04-05 22:47] brendongo commented on #381
We have switched over to using subprocess to run git instead of git python. I'm assuming that would close this issue but let us know otherwise

[2022-04-05 22:47] #381 closed, assigned to nobody

[2022-04-05 23:01] ievans commented on #481
No way to reproduce this, given how old the code copied into Semgrepdep was. Lack of corroboration means it's highly likely it was fixed in action meanwhile.

[2022-04-05 23:01] #481 closed, assigned to nobody

[2022-04-06 04:00] jayvdb commented on #541
I hasnt been happening for me.

[2022-04-06 04:01] ievans commented on #541
closing then but @sdasyam feel free to re-open

[2022-04-06 04:01] #541 closed, assigned to nobody

[2022-04-06 07:22] tkisason commented on #74
👍  Thank you!

[2022-04-06 15:16] lfama opened #557 "Cannot run `semgrep ci` while logged in and with explicit config. Use semgrep.dev to configure rules to run."
Hi,

I've setup semgrep-agent in my GitLab and it works fine (without setting the SEMGREP_RULES variable).
But as soon as I add the SEMGREP_RULES variable in my .gitlab-ci.yml file, the semgrep-agent step fails with the following error:

**Cannot run `semgrep ci` while logged in and with explicit config. Use semgrep.dev to configure rules to run.**

The only change I made in my .gitlab-ci.yml is a

[2022-04-08 06:01] brumhard commented on #548
@brendongo I did 3 runs now and they all were successful so I guess for me the issue is resolved. Thank you 👍🏻

[2022-04-08 16:43] caglarsayin commented on #542
No it is not a binary file but a go file that includes emojis because go accepts this kind of chars in the code

[2022-04-08 16:43] caglarsayin commented on #559
No it is not a binary file but a go file that includes emojis because go accepts this kind of chars in the code

[2022-04-09 00:44] brendongo commented on #557
Hi @lfama it's because SEMGREP_APP_TOKEN means we will run rules configured on https://semgrep.dev/orgs/-/board and behavior is hard to reason about if you configure rules on the ruleboard and hard code policies. You can add those policies to the board and they dont need to be specified explicitly here

[2022-04-09 00:45] brendongo commented on #548
Thanks @brumhard!

[2022-04-09 00:45] #548 closed, assigned to nobody

[2022-04-09 00:47] brendongo commented on #542
Ah I see. Moving this issue to semgrep repo

[2022-04-09 00:47] brendongo commented on #559
Ah I see. Moving this issue to semgrep repo

[2022-04-09 00:49] brendongo commented on #559
Actually my bad should not have done that and should have opened a separate issue. Moving back sorry for the noise

[2022-04-09 00:51] brendongo commented on #559
@caglarsayin since last week we have updated the invocation to not need the --debug option so semgrep-agent should be able to successfully complete.

[2022-04-09 20:22] lfama commented on #557
Hi @brendongo,
thank you for the clarification. So if I understood correctly, when using SEMGREP_APP_TOKEN, the only option is to setup rules throgh the ruleboard?

[2022-04-11 13:20] caglarsayin opened #562 "Python pip dependency conflict with semgrep version 0.86.0 and 0.87.0"
Semgrep-agent is always conflicting with glom package on pypi.
The version we tried are the ones on pypi
0.1.0b2
0.1.0b1
0.1.0b0
The conflict is caused by:
	semgrep 0.86.0 depends on glom~=22.1
	semgrep-agent 0.1.0b2 depends on glom<21.0.0 and >=20.8.0

[2022-04-11 17:31] brendongo commented on #562
Hi @caglarsayin starting 0.86.0 all the functionality in semgrep-agent is mirrored in `semgrep ci` If you follow up with how you are using semgrep-agent right now I can help you craft the equivalent invocation for `semgrep ci`

[2022-04-11 17:32] brendongo commented on #557
Yes that is correct

[2022-04-11 18:05] #553 closed, assigned to nobody

[2022-04-11 18:07] brendongo commented on #557
Yes that is correct

[2022-04-11 19:29] raoganeshr opened #563 "Passing verbose flag to semgrep-action"
Is it possible to also add a flag to pass --verbose to semgrep? Currently I cant find an option to do so.

[2022-04-12 07:28] lfama commented on #557
Thanks, I'm closing this issue.

[2022-04-12 07:28] #557 closed, assigned to nobody

[2022-04-12 10:52] caglarsayin commented on #562
ahh, I see okay.
We need a case for pull requests. I think the new option is `--baseline-commit` instead of `--baseline-ref` but I guess they do not work exactly in the same way. `baseline-ref` one checks all the commits between two refs though `baseline-commit` only checks 1 commit. Is there a solution for this?

[2022-04-12 13:31] Sjord opened #565 "Semgrep-action no longer works with multiple configs"
When I pass multiple `--config` flags to semgrep-agent, it used to use all the rules, but now it only uses the last ruleset given. When I pass `--config "r/php" --config "r/javascript"`, I expect it to run both PHP and JavaScript rules, but it only uses JavaScript rules.

[code]

Previously, it would show something like this:

[code]

[2022-04-12 21:17] brendongo commented on #562
@caglarsayin both flags work exactly the same way so you should be able to just swap out the flags.

Both flags mean semgrep will only show findings that exist in head but do not exist in the given ref/commit

[2022-04-12 23:21] brendongo commented on #565
@Sjord are you able to transition to using `semgrep` instead?

```docker run -v "$PWD:/mysrc" -w "/src" returntocorp/semgrep semgrep ci --config "r/php" --config "r/javascript"``` should do the same thing as your above invocation

[2022-04-13 19:37] brendongo commented on #563
Hey @raoganeshr. Would you be able to switch usage from `semgrep-agent` to `semgrep ci`? The later has all the functionality of `semgrep-agent` and supports the `--verbose` flag

[2022-04-13 19:38] brendongo commented on #562
@caglarsayin did this work for you?

[2022-04-13 19:39] brendongo commented on #526
`semgrep ci` checks diff status and if there are any untracked changes, it aborts. So I think this can be marked as done

[2022-04-13 19:39] #526 closed, assigned to nobody

[2022-04-14 12:47] raoganeshr commented on #563
Hi @brendongo do you mean to use semgrep container with ci command?

[2022-04-14 18:43] brendongo commented on #563
Yep! See https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#github-actions most important in the config are that we changed from `returntocorp/semgrep-action` to `returntocorp/semgrep` and instead of running `semgrep-agent` we run `semgrep ci` subcommand

[2022-04-18 05:21] #563 closed, assigned to nobody

[2022-04-19 19:57] olastor commented on #352
I second this. Please make it possible to do a full scan on merge requests, as well. I think semgrep is a great tool and it's nice to see you are taking care of sane defaults, but if you provide configuration options for people that should always override any defaults, please.

I also tried `--baseline-commit ""` which does not abort the run, but automatically makes a baseline scan on merge reques

[2022-04-20 01:47] brendongo commented on #559
Closing as done I think this works with semgrep 0.85.0 onwards

[2022-04-20 01:47] #559 closed, assigned to nobody

[2022-04-20 01:50] brendongo commented on #428
Closing as this seems like an act issue?

[2022-04-20 01:50] #428 closed, assigned to nobody

[2022-04-20 20:47] #565 closed, assigned to brendongo

[2022-04-21 21:22] brendongo commented on #562
Closing as we don't expect semgrep-agent on pypi to be widely used and all functionality is exposed in semgrep > 0.86.0

[2022-04-21 21:22] #562 closed, assigned to nobody

[2022-04-25 01:07] amdei commented on #352
As for me, I would be satisfied with command-line option, forcing full scan.
Thus it makes it possible to use such option in CI for MRs to default branch only.

[2022-04-25 18:32] jeremy-ebler-vineti opened #569 "0.89 fails with git error on CI"
We have the Semgrep agent docker image running on our Jenkins CI, until recently it was working correctly.

Here's the backtrace for `v1` / `semgrep 0.89.0 on python 3.10.4`:

[code]

The last successful run, `semgrep 0.87.0 on python 3.10.4` [bence-0.87.0](https://hub.docker.com/layers/semgrep-agent/returntocorp/semgrep-agent/bence-0.87.0/images/sha256-5df13ff8677d279fb51e0d24ced149541fb8018b6d7a

[2022-04-25 22:38] mogopz commented on #569
I'm seeing the same thing (running the latest agent in a container on Buildkite)

[2022-04-26 13:09] caglarsayin commented on #559
Thanks your are the best

[2022-04-26 13:10] caglarsayin commented on #562
Thank you

[2022-05-02 17:54] jeremy-ebler-vineti commented on #569
I get the same error with `versions    - semgrep 0.90.0 on python 3.10.4`

[2022-05-03 23:43] brendongo commented on #569
@jeremy-ebler-vineti @mogggggg not sure what is happening but I run ` docker run --volume ${pwd}:/src --workdir /src  --env SEMGREP_APP_TOKEN=REDACTED returntocorp/semgrep-agent:v1 ls -la /src` I find that the pwd was not copied over but when I type out PWD it works as expected. The error message you are seeing is because `git show` failed because pwd is not a valid git directory

Anyway: I would

[2022-05-06 20:47] jeremy-ebler-vineti commented on #569
@brendongo your command fails because the syntax is wrong. `--volume ${pwd}:/src` tries to expand the shell variable `pwd`, but shells don't typically set that. You can use the shell variable `PWD` with either `--volume ${PWD}:/src` or `--volume $PWD:/src`. Alternatively, you can use the shell command `pwd` by using `--volume $(pwd):/src` (note the parens).

---

I tested `returntocorp/semgrep-age

[2022-05-08 09:39] HariSekhon opened #573 "Warning: Unexpected input(s) 'generateSarif', valid inputs are ['entryPoint', 'args', 'config', 'publishToken']"
I have semgrep-action using sarif uploads to GitHub Security which used to work but recently started having this warning:

[code]

Although it did still find and upload the sarif file to GitHub Security.

After I commented out the deprecated `generateSarif` line which was supposed ignored with a warning above:

[code]

it then started failing to find the sarif file to upload:

[code]

It's not cle

[2022-05-09 02:36] mogopz commented on #569
Thanks for the replies, I've opened an issue in the main Semgrep repo ([link](https://github.com/returntocorp/semgrep/issues/5168)).

TL;DR you should be able to set the `GITHUB_WORKSPACE` env var with a path to your code as a workaround

[2022-05-09 15:54] brendongo commented on #569
Ah yes that error looks familiar @jeremy-ebler-vineti (also thanks for the info on the pwd stuff) With https://github.blog/2022-04-12-git-security-vulnerability-announced/ git changed default behavior to fix a security issue and this new version is included in 0.89.0 onwards. We added logic to patch the behavior for GithubActions https://github.com/returntocorp/semgrep/pull/5044/files so you proba

[2022-05-09 15:56] brendongo commented on #569
Oh I see you figured exactly this out in the other repo so will close this and continue there.

[2022-05-09 15:56] #569 closed, assigned to nobody

[2022-05-12 21:39] brendongo commented on #573
Hi! You will want to change your configuration to something like:

[code]

[2022-05-12 21:39] brendongo commented on #573
note it is actually changing from using the semgrep-action to using just semgrep

[2022-05-13 11:24] HariSekhon commented on #573
So is the semgrep-action broken or deprecated?

Also, what is the equivalent to the github action's config, as the the `semgrep --help` seems to indicate that `--config` is yaml rather than this:

[code]

[2022-05-14 19:05] emwalker commented on #322
In this connection, I'm seeing a false positive with this line:
[code]

Semgrep thinks that this is a Ruby `#eval`, but really it's just a normal [Redis EVAL](https://redis.io/commands/eval/) with no user input.  It would be nice to disable this warning in a comment in the same way that this is done with Rubocop.

[2022-05-26 23:35] brendongo commented on #573
It is still maintained but only for the most simple use case and we offload any special casing like sarif output to main semgrep.

You can run this with `semgrep ci --config p/security-audit --config p/secrets --config ...`

[2022-05-27 14:45] HariSekhon commented on #573
That's a shame... I'd say sarif is a core use case supported by most code scanning tools I've seen, especially for anything relating to use of GitHub which is basically everything these days. I would have expected it to remain supported by the semgrep action.

[2022-05-27 16:07] brendongo commented on #573
@HariSekhon it is still supported by semgrep and you can configure semgrep to run in github actions using the configuration in https://github.com/returntocorp/semgrep-action/issues/573#issuecomment-1125445113

All the functionality that was in semgrep-action was absorbed into semgrep

[2022-05-31 21:41] #124 closed, assigned to nobody

[2022-05-31 21:41] #181 closed, assigned to nobody

[2022-05-31 21:42] #362 closed, assigned to nobody

[2022-05-31 21:42] #519 closed, assigned to nobody

[2022-06-11 07:33] mdantonio commented on #573
Hello,
I changed my workflow as suggested (replaced the action with `semgrep ci --sarif --output=semgrep.sarif`) and now the scan is working, but the upload step is still failing:

[code]

=>

[code]

Could you help me restore the workflow? :pray:

[2022-06-12 11:15] HariSekhon commented on #573
I am now getting that error with the official semgrep action, which you can see at the link below:

https://github.com/HariSekhon/GitHub-Actions/runs/6836065996?check_suite_focus=true

That looks like a bug.

Update: I've raised a separate ticket #590 as this is really a separate bug by the look of it.

[2022-06-12 11:17] HariSekhon opened #590 "SARIF Error: instance additionalProperty "fixes" exists in instance when not allowed"
This is happening via both CLI runs and the official semgrep action:

[code]

Related to #573

You can see my full workflow run details here:

https://github.com/HariSekhon/GitHub-Actions/runs/6836065996?check_suite_focus=true

[2022-06-13 17:28] brendongo commented on #590
@HariSekhon and @mdantonio this should be fixed in https://github.com/returntocorp/semgrep/pull/5425/files and fix will go out on next release

[2022-06-13 17:34] mdantonio commented on #590
Great, thank you!

[2022-06-14 08:58] HariSekhon commented on #590
@brendongo thanks, will wait for that release, assume it will go into the official action @v1 ?

If that's the case I'll wait for that update and see if all my pipelines and badges across repos clear.

Would you mind posting back here when the new release is cut so I can test it?

[2022-06-16 09:07] lwsanty opened #594 "0.98.0 fails with git error on GHA"
We have a semgrep GHA
[code]
And today it started failing with
[code]
I checked out the previously created https://github.com/returntocorp/semgrep-action/issues/569 and it was recommended to provide a workspace env https://github.com/returntocorp/semgrep-action/issues/569#issuecomment-1120574232
I tried this config
[code]
But get the same error.
It seems to be related to the latest release https:/

[2022-06-16 12:50] lwsanty commented on #594
closing due to this issue https://github.com/returntocorp/semgrep/issues/5556 comment https://github.com/returntocorp/semgrep/issues/5556#issuecomment-1157471887 helped me

[2022-06-16 12:50] #594 closed, assigned to nobody

[2022-06-19 06:11] mdantonio commented on #590
I confirm that now it is working, thank you

[2022-06-19 06:12] mdantonio commented on #573
I confirm that now it is working, thank you

[2022-06-19 16:40] #590 closed, assigned to nobody

[2022-06-21 20:33] brendongo commented on #573
Nice! Closing this issue then!

[2022-06-21 20:33] #573 closed, assigned to nobody

[2022-06-21 20:34] brendongo commented on #590
Yep it went out with action @v1!

[2022-06-21 20:34] brendongo commented on #590
As well as 0.98.0

[2022-06-21 20:35] brendongo commented on #489
This was fixed in semgrep 0.98.0 with https://github.com/returntocorp/semgrep/pull/5532

[2022-06-21 20:35] #489 closed, assigned to nobody

[2022-06-21 20:37] #488 closed, assigned to nobody

[2022-06-21 20:39] brendongo commented on #199
Not sure what errors we were referencing here but closing since we have decent alerting now for failed scans

[2022-06-21 20:39] #199 closed, assigned to nobody

[2022-09-29 12:13] dhisaxen opened #643 "Semgrep command failing with exit code 7 internal error"
While executing the semgrep in Gitlab CLI I am getting the following error.
[code]

[2022-10-12 14:43] brendongo commented on #643
Hi! An exit code of 7 https://semgrep.dev/docs/cli-reference/#:~:text=7%3A%20At%20least%20one%20rule%20in%20configuration%20is%20invalid. probably means one of the rules you are running has invalid syntax.

[2022-11-07 15:47] matthernet opened #660 "Add exclude option in the Semgrep action yml file"
**Is your feature request related to a problem? Please describe**
Hi, I want to use a specific ruleset but also I would need to exclude one particular rule since I'm working on some test, I know that the option was added [HERE](https://semgrep.dev/docs/release-notes/september-2022/#semgrep-cli) for the CLI, but there is an option for the docker in GH actions?

**Describe the solution you'd like**

[2022-11-09 23:41] maipbui commented on #660
Same as @matthernet. I'd love to have this feature.